[2013-01-31 03:23] bradt opened #2 "Replace custom S3 library with the standard PHP library provided by Amazon"

[2013-02-01 18:09] bradt opened #3 "Add option to append a timestamp to uploaded filenames when CloudFront is enabled"
If you remove a file and then add a file of the same name, CloudFront will still serve the old file for a long time. You can invalidate the CloudFront cache, but apparently it's an expensive operation and Amazon recommends instead using unique file names.

[2013-02-01 18:14] bradt opened #4 "Interoperability with WP Retina 2x plugin"
Continuing the conversation from http://wordpress.org/support/topic/retina-2x-amazon-s3?replies=7.

Jordy, maybe you can help save me some time with answers to the following:
1. When uploading a new media item, what is the best way to get the file paths of the generated @2x images?
2. When removing a media item, what would be the best way to get a list of the @2x files for that media item? Are you

[2013-02-06 06:26] CdrMarks opened #5 "Remove local file after uploading to S3"
Is is possible to not save a copy of the file(s) locally?  I'm looking for a way to upload a podcast to S3 and would like to not have a copy on the web server.

[2013-02-19 00:34] teomaragakis opened #6 "Add function to move already existing data to S3."
This can work with a single job in the background, or with a cron that does it part by part every hour or so until all images have been moved.

[2013-02-23 05:20] johnpray opened #7 "Add ability to transfer files uploaded outside the Media Library (on the front end or through other plugins)"
Thanks for the great plugin. It works great for me on DreamHost shared hosting for normal uploads through the Dashboard Media Library.

Would it be possible to support transferring files that are uploaded by other means? For example, I'm using the [WooCommerce Product Add-Ons Extension](http://www.woothemes.com/products/product-add-ons/), which allows site visitors to upload files on the front end

[2013-03-01 17:56] evreznik opened #8 "Time error"
But with this script, I have a problem. The fact is that I have no way to change the time zone on the server. what to do in such cases, how to deal with the problem?. I will be glad to hear what you think about it.

P.S. Sorry for my bad English

[2013-03-05 20:06] nmagee opened #9 "Multi-Site Support"
Would it be possible to add an option for multi-site support? The site_id would have to be added to the /files/ path of the media URL. I am seeing wordpress-mu- referenced in the wordpress-s3.php file but am not sure how to make it work effectively.

[2013-03-15 17:36] danmandle opened #10 "Hundreds of duplicates"
We have two servers running behind a load balancer. When we upload an image into the media galley, it successfully puts the file up on S3 and changes the URL for the image, which is great.

The problem is that it doesn't stop uploading the images and makes hundreds of duplicates. It keeps uploading copies until I restart my app server. It just keeps appending 1's on to the file name, as you can se

[2013-03-16 08:05] ghost opened #11 "Upload to S3 custom path"
I use the same bucket for multiple kind of files, so I'd like to be able to upload my media in a /img folder, not in the root.

Thanks! :)

[2013-03-21 23:36] #10 closed, assigned to nobody

[2013-04-01 17:19] lvxn0va opened #12 "Upload specific filetypes to S3 only"
I'm using Aqua-Resizer which only allows images to be resized on the server in the uploads folder. It doesn't allow any external images. This functionality is built into my template unfortunately. I'm also serving video files as .mp4, .ogg and .webm. And I love your S3 plugin.

Is it possible to exclude .jpg and .png from being uploaded and linked to S3?

[2013-04-11 14:15] bradt opened #13 "PHP notice when I have error reporting on"
http://wordpress.org/support/topic/php-notice-7?replies=1#post-4076806

Maxaud wrote:

I get this PHP notice when I have error reporting on.
Can you suppress this on future versions?

`Notice: Undefined index: wp-uploads in /var/www/vhosts/domain.com/wp-content/plugins/amazon-s3-and-cloudfront/wordpress-s3/class-plugin-public.php on line 21`

[2013-04-12 10:10] annoyedatanother opened #14 "Incompatibilities with WooCommerce Dynamic Gallery PRO"
There are several issues with this plugin

1) it is not compatible with WooCommerce Dynamic Gallery PRO and image uploads fail (no error) they just fail

2) sometimes image upload simply sticks at 100% , closing window and opening media window shows the image did upload

3) when inserting an image into blog using shortcode or plugins the image always scales to full size rather than selecting corre

[2013-04-16 12:24] maciekish opened #15 "Can't use a different bucket than the first selected one"
Hi,
I have two websites hosted on Amazon Opsworks, the first one has this plugin set up and uploads media to an s3 bucket no problem. When setting up the second one, all uploads silently fail.

As soon as i set the second site to use the same bucket as the first site, it works. If i use a different Amazon account and upload to the first bucket it works. If i create a second bucket on that other Am

[2013-04-16 13:06] #15 closed, assigned to nobody

[2013-05-01 21:34] emory opened #16 "Virtual hosting issue? Content not copying."
_FYI: I'm using Wordpress 3.6b2, and if you aren't interested in this please close out this issue and there will be no hard feelings!_

The plugin can authenticate correctly from the looks of it, but if I tick the box that says "bucket is set-up for virtual hosting" it complains that my DNS is wrong and that I need a CNAME for my host.dom.tld to point to `media.kvet.ch.s3.amazonaws.com`.

My bucke

[2013-05-02 01:22] cconover opened #17 "Mismatch between local upload directory structure and S3 directory structure"
When a file is uploaded to WordPress through a post and month/year organization is enabled, the file is uploaded into the month and year directory corresponding to the post's publish date.  However, the plugin puts the file in the month and year directory corresponding to the time when the file was uploaded.  Can the plugin match the location WordPress uses?

[2013-06-18 16:20] jgerry opened #19 "option to serve HTTPS via CloudFront"
This plugin has been working great for me, thanks for that. The one thing I'd like to see is an option to use/generate https references instead of just http. CloudFront will serve via the exact same URL, just change http to https.

this would allow people to use SSL certs on their wordpress site and not get a mixed content (secure and non secure) warning.

[2013-07-18 15:14] danetidwell opened #20 "Source media upload deletion"
Can media files uploaded be deleted via FTP from the source location without any impact?

[2013-07-30 14:33] bradt opened #21 "Replace use of key & secret key with IAM system"

[2013-07-30 14:35] bradt opened #22 "Ability to add bucket prefix / subdirectory"

[2013-08-06 17:05] #20 closed, assigned to nobody

[2013-09-04 09:19] mrdavefoy opened #23 "Requirement to keep original image?"
Hi there,

Thanks for your work on this plugin.

The main reason I wanted to offload images to S3 was to save lots of space on our server. After much detective work it seems that I can manually delete all Wordpress _resized_ images from my server, but not the original image. If I delete the original images (which my site isn't actually using anywhere) my template throws PHP errors where the images

[2013-09-17 15:08] #23 closed, assigned to nobody

[2013-09-17 15:09] #8 closed, assigned to nobody

[2013-09-17 15:14] #22 closed, assigned to nobody

[2013-09-20 16:59] #3 closed, assigned to nobody

[2013-09-20 16:59] #4 closed, assigned to bradt

[2013-09-20 16:59] #5 closed, assigned to bradt

[2013-09-20 16:59] #17 closed, assigned to nobody

[2013-09-20 16:59] #19 closed, assigned to nobody

[2013-09-20 17:27] #21 closed, assigned to bradt

[2013-09-20 17:28] #13 closed, assigned to nobody

[2013-09-20 17:30] #11 closed, assigned to nobody

[2013-09-20 17:30] #9 closed, assigned to nobody

[2013-09-20 17:30] #2 closed, assigned to bradt

[2013-09-21 10:38] annoyedatanother opened #24 "Image linking issue"
when products are shown as thumbnails of 150px x 150px it should link to the image of the cropped size, but it is linking to the full size image and changing the size using the styling, so effectively it is loading a full size file image and slowing site down

when the plugin is deactivated then the images link to correct size

any ideas ?

Using woo, wp3.6.1

[2013-09-21 15:16] xcrap opened #25 "Amazon Web Services plugin - Fail Download"
I've just updated to 0.6 but I get an error downloading
http://wordpress.org/extend/plugins/amazon-web-services
Can't download plugin, file not found! The script is not working now.

[2013-09-26 02:27] bradt opened #26 "Change bucket selection to text box with autocomplete"

[2013-10-01 14:27] bradt opened #27 "Manually resized images not uploaded"
http://wordpress.org/support/topic/resized-images-not-uploaded?replies=1#post-4703802

[2013-10-03 10:03] ghost opened #28 "Add the ability to change cloudfront host depending of the protocol"
Hi, thank you for this great plugin.

Would it be possible to change cloudfront host depending of the protocol?

I would like to use a custom CNAME like "images.mysite.com" when the images are displayed with HTTP but use the cloudfront distribution domain name (dxxxxxxx.cloudfront.net) when the images are displayed with HTTPS.

This is because cloudfront distributions don't support custom SSL cert

[2013-10-03 14:10] #28 closed, assigned to nobody

[2013-10-04 17:26] bradt opened #29 "Test compatibility with W3 Total Cache"

[2013-10-12 08:09] BaoHan opened #30 "Remove files in S3 when image deleted in media library!"
I could not delete S3 files automatically when media library files deleted.I want to find a solution.

[2013-10-15 19:55] mrjasonsweet opened #31 "Object Path Question"
I am trying to determine why this sub folder structure was added to the Object Path and how can I remove it or change it (or reset it)?

![object_path](https://f.cloud.github.com/assets/5694517/1337251/ad9a8ca6-35d3-11e3-85ed-5f194e062e83.png)

Thanks for the assist!

[2013-10-15 19:59] #31 closed, assigned to nobody

[2013-10-21 14:02] mirodanov opened #32 "Multisite: support for per-site settings"
A great plugin first ... I was more than happy to see new version supporting multisite, etc.

Anyway I found something that missing with multisite addons. For example if you mapping domain names with http://wordpress.org/plugins/wordpress-mu-domain-mapping/ and want to have different bucket and CloudFront for every domain.

Example buckets:
domain1.s3.amazonaws.com
domain3.s3.amazonaws.com
domain2

[2013-10-23 09:46] neochrome opened #33 "Uploading to bucket root instead of wp-content/blogs.dir/1/files/"
Hi, thanks for letting us use s3 to host our uploaded files!

When trying out this plugin in our multisite environment, I can't find out how to prefix uploaded files with the configured upload path per site, which means the different sites may overwrite each other's files.

When a site's upload path is configured as `wp-content/blogs.dir/1/files/` and I upload `somefile.ext`, I want it to end up l

[2013-11-09 20:57] grappler opened #35 "Unable to get it to work."
Hi,

I installed both plugins, I added the two keys in the wp-config(I think this is a great idea,). I am able to select the bucket.

The issue is when I upload a file it does not display in my s3 bucket.

What can I do to test for the issue?

I have WP_DEBUG on and I see no errors. These are my server details:

[code]

[2013-11-11 13:10] #25 closed, assigned to nobody

[2013-11-11 13:11] #16 closed, assigned to nobody

[2013-12-19 17:59] mrbm opened #36 "Duplicate files and deletion issue"
I am using your plugin and for the most part it seems to work great, however I am running into an issue that will be a big problem in my multiuser environment.

If an item called "fish.jpg" is uploaded to the site, and then another separate file with the same name "fish.jpg" is uploaded to the site that second file on the S3 side will simply replace the original fish.jpg file.  Now on the wordpres

[2014-01-01 11:20] chinovader opened #37 "Save resource with Protocol Relative URL"
Hello,
the setting "Always serve files over https (SSL)" might be removed and instead, the urls would be saved without the schema part (Protocol Relative URL):

http://www.example.com/images/example.png

would be saved as

//www.example.com/images/example.png

Then the resource will be requested with the same protocol the page was.

This way, you have not to make a decision beforehand, and I think

[2014-01-03 02:38] #37 closed, assigned to nobody

[2014-01-10 16:48] nosilver4u opened #38 "change priority of wp_generate_attachment_metadata hook"
To ensure that the amazon s3 plugin uploads images after they have been optimized by the EWWW Image Optimizer, please change the priority from 20 to 100.

[2014-01-11 07:09] mbahar opened #39 "plugin doesn't capture buddypress avatar uploads"
Creating  a buddypress hook for 'xprofile_updated_profile' action would to the job.

[2014-01-20 06:35] olliebun opened #40 "S3 Access Denied - keys are fine"
I get this error when trying to upload an image:

[code]

I've confirmed that the keys I'm using have the right permissions:

[code]

They also do work when listing buckets in the plugin configuration. My bucket's region is US Default.

Is there some way to get more error information out of the plugin?

[2014-01-21 05:58] #40 closed, assigned to nobody

[2014-01-25 07:39] khrlzhfr opened #42 "Predefined bucket"
Ability to predefine bucket rather to force the selection of a particular bucket and the use of a certain cloudfront domain, perhaps by adding these lines: define('AMAZON_S3_BUCKET', 'BUCKET1');
define('AMAZON_CLOUDFRONT_DOMAIN', 'domain2.cloudfront.net');

[2014-01-26 18:25] datacoda opened #43 "Support image regeneration"
Most third-party regeneration plugins seem to call get_attached_file which obviously currently fails on file_exists since the file is no longer local.

How hacky would it be to create a local stub and add a filter that function?  Subsequent calls to wp_generate_attachment_metadata would have to pull-down from S3, rebuild and reupload of course.  RFC

[2014-01-28 02:09] #43 closed, assigned to nobody

[2014-01-31 21:49] #35 closed, assigned to nobody

[2014-02-19 18:56] eanbowman opened #44 "Function to upload Old Images in Bulk"
Instead of having to manually re-upload old images, some way to bulk send the old ones to S3. This is almost a deal breaker really.

[2014-02-20 14:22] ghost opened #46 "Multiple CDN domains"
It would be great to be able to add different CDN domains to load more resources in parallel. Is this already supported?

Thanks

[2014-02-24 16:29] Fobstar opened #47 "S3 upload delay"
Is there any way to delay the 'copy to S3' process by x min/hrs ?

We have some automatic tasks which happen to files directly after it is uploaded to the media library, ie video conversions, etc. Although the upload to S3 process is working it's catching the wrong versions of the files.

[2014-03-03 06:20] daviddas opened #48 "Errors upon installing (probably theme-related)"
I just installed this plug-in for the first time. As soon as I activate it, I get a whole host of errors, all of which look like they are unique to my theme:

Deprecated: Assigning the return value of new by reference is deprecated in /home/davidd3/public_html/dd2014c/wp-content/themes/surreal/framework/php/boot.php on line 35

Deprecated: Assigning the return value of new by reference is deprecat

[2014-03-03 20:26] #48 closed, assigned to nobody

[2014-03-17 00:04] #27 closed, assigned to nobody

[2014-03-20 16:31] sethrubenstein opened #51 "Manually moved over entire existing media library, need to update paths"
So I know alot of people have asked if this plugin can migrate their files over to S3 I'm not asking that. I've already done that by just manually downloading my entire wp-content/uploads directory then moving that to my S3 bucket. I've also gone in and changed all my meta values for posts that have wp-content/uploads to take into account my cloudfront address.

HOWEVER

I'd like all my existing i

[2014-04-14 14:36] trek7k opened #53 "Update guid in wp_posts table for images removed from local filesystem"
It seems the wp_posts table is not updated for images, even when the "Remove uploaded file from local filesystem once it has been copied to S3 " setting is in effect. Ideally the "guid" field in the wp_posts table would be updated to reflect the correct location of the image file.

[2014-04-15 17:48] #53 closed, assigned to nobody

[2014-04-15 21:14] iamzozo opened #54 "Secure url for different image sizes"
I want to get secure url-s for different image sizes.

[2014-04-17 22:52] manfield opened #56 "HTTPS"
I found that when I use plugin in HTTPS, it looks for resources in a domain that is:

$domain_bucket = 's3.amazonaws.com/' . $s3object['bucket'];

Actually this causes an error:

[code]

Probably AmazonAws changed the way to browse bucket in SSL and you're going on considering a different behavior.
 Anyway it would work if you change this line of code with: $domain_bucket = $s3object['bucket'] . '

[2014-04-24 02:36] kipas opened #57 "Support Aqua-Resizer (Resize WordPress images on the fly)"
hi bradt, I try to use your plugin with Aqua-Resizer (Resize WordPress images on the fly) https://github.com/syamilmj/Aqua-Resizer/, but don't work,

Has anyone been able to get aqua_resizer working for people using Amazon S3 to store their images?

I use Aqua-Resizer for more efficiency storage, so I don't need for custum size for all my image,but only for my featured image..

[2014-04-24 02:36] kipas opened #58 "Support Aqua-Resizer (Resize WordPress images on the fly)"
hi bradt, I try to use your plugin with Aqua-Resizer (Resize WordPress images on the fly) https://github.com/syamilmj/Aqua-Resizer/, but don't work,

Has anyone been able to get aqua_resizer working for people using Amazon S3 to store their images?

I use Aqua-Resizer for more efficiency storage, so I don't need for custum size for all my image,but only for my featured image..

[2014-04-24 02:38] #58 closed, assigned to nobody

[2014-05-07 19:05] #42 closed, assigned to nobody

[2014-05-07 19:06] #38 closed, assigned to nobody

[2014-05-07 19:25] bradt opened #60 "Performance: get_plugins() on every plugin page request"
We are calling `get_plugins()` on every page request of our plugin pages. This function does a ton of I/O, so a bad idea to call on every request.

[2014-05-07 19:32] #54 closed, assigned to nobody

[2014-05-07 19:37] #24 closed, assigned to nobody

[2014-05-07 19:45] #57 closed, assigned to nobody

[2014-05-09 16:57] mrbm opened #61 "Native WP image editing with copy to S3 and remove local file enabled"
Not sure if this is a bug or the current expected implementation, but when editing an image within wordpress, the changes via the preview work, however the changes don't seem to save when the options of copy to s3 and remove local file are enabled.

Wondering if it is possible with your implementation on save to replace the file(and thumbnails) on s3 with the new changes.

If this is supposed to w

[2014-05-12 21:37] lvollmer opened #62 "Editing the upload path for this plugin"
It looks like by default, this plugin uploads images to objectpath: (user defined)wp-content/uploads/YYYY/MM.

The YYYY/MM is hardcoded into the settings of the plugin:
https://www.dropbox.com/s/m3ug7sshyjwkepr/Screenshot%202014-05-12%2014.13.30.png

Wouldn't it make sense to remove the YYYY/MM so that plugins that create directories within the uploads directory can also have images sent to s3? IE

[2014-05-30 14:55] mrbm opened #63 "Switching media to another bucket"
Hello, I was interested in switch all the media on my site from "bucketa" to "bucketb"

Using amazon cli i have already copied the the content and paths from "bucketa" to "bucketb"  so now it is a matter of repointed all the data.

Also note that "bucketa" is standard s3 storage and "bucketb" is nor-cal storage.

So far I have attemped to use: https://github.com/interconnectit/search-replace-db

a

[2014-05-31 00:44] #63 closed, assigned to nobody

[2014-06-12 15:13] NicVidPlat opened #64 "Error Uploading to S3: [curl] 77"
Receiving the following error when uploading a jpeg.
Error uploading (far future) /server/path/image.jpg to S3: [curl] 77:  [url] https://bucketname.s3.amazonaws.com/wp-content/uploads/20140610201357/image.jpg

It comes from classes/amazon-s3-and-cloudfront.php line 164. (I added 'far future' to distinguish it from the error on line 221.)

I get this when uploading a image. Mine have multiple size

[2014-06-18 17:21] #64 closed, assigned to nobody

[2014-07-16 15:40] sicknickel opened #65 "Uploads' Size Not Logging"
Hello,

The files stored on Amazon S3 report 0 kb taken up within the media library.

This is not good, as I have a limit to the amount a user can upload; however, if it's not tracking the file sizes - users can upload unlimited amounts.

Is there a way to log file sizes?

[2014-07-29 17:05] #6 closed, assigned to bradt

[2014-07-29 17:13] #47 closed, assigned to nobody

[2014-07-29 17:18] #51 closed, assigned to nobody

[2014-07-29 17:20] #46 closed, assigned to nobody

[2014-08-27 19:39] matthosts opened #66 "Only upload and transfer certain file types"
Can the this plugin easily be modified to only pass mp3 files for example onto Amazon S3.

[2014-09-01 13:30] theHazzard opened #67 "Images broken in media library"
Hi, I have a problem when I delete the images from my server (the local copy), they show as broken images in the media section in wordpress, but they are in the S3, is there a way to the Media Library take the images from the S3 instead of my local server?

[2014-09-15 21:23] michaelha opened #68 "the plugin isn't working since I upgraded to 3.9.1"
the plugin was working fine until I upgraded to 3.9.1. I need a fix for this. Is anyone else having this problem?

[2014-09-16 21:40] virtualandy opened #69 "Image upload succeeds, but full S3 URL is missing"
Uploaded an image into WordPress, it sync'd to the S3 folder I defined in this plugins' settings. Awesome!

But when I load the page, the link to the image is something like ```http://s3_bucket/blog/uploads/9/14/...``` where 's3_bucket' is literally just the bucket name and not bucket_name.s3.amazonaws.com.

Any ideas? Probably something stupid I forgot to configure. Thanks!

[2014-09-26 07:40] ghost opened #70 "get_attached_file()"
Wordpress has a `get_attached_file()` function that should return the path to the file, but (somewhat understandibly) it doesn't work with this plugin enabled.
I haven't delved into the internals of this plugin to know how it re-routes the file calls, but it would be great if this can somehow be filtered. Right now it returns a non-existing path which is not very useful.

Here's the function from

[2014-09-26 11:29] polevaultweb opened #71 "Move object versioning setting to below 'Plugin Settings' in settings UI"
As per Brad's comment https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/issues/36#issuecomment-42596077

[2014-10-01 16:15] polevaultweb opened #73 "Link dead - Bucket is setup for virtual hosting (more info)"

[2014-10-01 16:32] polevaultweb opened #74 "Non US bucket name issues with adding and deleting media"
When a non US region bucket has a dot in its name, the plugin won't upload or delete media.

Errror:
The bucket you are attempting to access must be addressed using the specified endpoint. Please send all future requests to this endpoint: "[bucket].s3.amazonaws.com".

[2014-10-07 11:52] polevaultweb opened #77 "Informative tooltip for Point file URLs to S3/CloudFront setting"
To reduce confusion as per https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/issues/67#issuecomment-57811904:

[2014-10-07 11:52] #67 closed, assigned to polevaultweb

[2014-10-07 19:42] bradt opened #80 "URL should reflect region"
https://s3.amazonaws.com is for the US Standard region. Buckets in other regions have different URLs, for example, Oregon is https://s3-us-west-2.amazonaws.com. We should be using these URLs.

ATM our plugin still works because AWS is redirecting requests. For example, if you visit

http://wpmu-test-region.s3.amazonaws.com/wp-content/uploads/sites/2/pop_cover1.jpg

it redirects to

http://wpmu-tes

[2014-10-07 19:58] #74 closed, assigned to polevaultweb

[2014-10-07 19:58] #68 closed, assigned to nobody

[2014-10-07 20:08] #71 closed, assigned to nobody

[2014-10-08 10:57] polevaultweb opened #81 "Check files exists before trying to upload to S3 and remove from local"
To recreate:
- Enable 'Remove uploaded file from local filesystem once it has been copied to S3'
- Edit an image in the media library, but don't select the default option for 'Apply changes to:' (see image)
- You will see 'Error uploading' and 'Error removing local file' messages in log file for the image sizes not edited.

![screen shot 2014-10-08 at 11 57 11](https://cloud.githubusercontent.com/

[2014-10-08 11:23] #60 closed, assigned to nobody

[2014-10-08 12:07] #12 closed, assigned to nobody

[2014-10-08 12:34] #77 closed, assigned to nobody

[2014-10-08 17:10] #73 closed, assigned to nobody

[2014-10-08 19:33] #36 closed, assigned to polevaultweb

[2014-10-09 15:40] #81 closed, assigned to polevaultweb

[2014-10-09 16:55] polevaultweb opened #85 "Backup sizes not deleted"
$del_file not a defined variable - https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/blob/develop/classes/amazon-s3-and-cloudfront.php#L84

[2014-10-10 08:39] polevaultweb opened #88 "Add version global for asset loading"
Will be required once https://github.com/deliciousbrains/wp-amazon-web-services/issues/13 is implemented

[2014-10-10 08:59] polevaultweb opened #89 "Repository root folder, should it contain wp-?"

[2014-10-10 13:23] polevaultweb opened #92 "When creating a new bucket the bucket select box appears empty on success"
Should the default behaviour be to add the new bucket to the select element ready to save?

[2014-10-12 13:36] #88 closed, assigned to polevaultweb

[2014-10-12 14:01] bradt opened #93 "Eliminate dependence on folder name"
Should be able to name the plugin folder whatever.

[2014-10-12 14:37] #85 closed, assigned to polevaultweb

[2014-10-12 17:00] #66 closed, assigned to nobody

[2014-10-12 17:07] bradt opened #94 "Ability to for other plugins to upload files using AS3CF functions"
Ability to upload _any_ files by calling plugin methods in external code. Then other plugins can be written to extend the functionality of this one and add support for other file uploads, like BuddyPress avatars described in #39.

[2014-10-12 17:07] #39 closed, assigned to nobody

[2014-10-12 17:08] #89 closed, assigned to nobody

[2014-10-13 14:49] polevaultweb opened #95 "Retrospectively update s3 meta with bucket region"

[2014-10-13 15:07] #80 closed, assigned to polevaultweb

[2014-10-13 15:07] #56 closed, assigned to polevaultweb

[2014-10-13 15:14] #30 closed, assigned to nobody

[2014-10-13 15:29] polevaultweb opened #96 "Editing image uploaded to incorrect month folder"
As per https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/issues/61#issuecomment-58533589

[2014-10-13 15:46] polevaultweb opened #97 "Attachment URL filter clash with WPML Media plugin"

[2014-10-13 16:34] polevaultweb opened #98 "Add Grunt for asset processing"
Currently Sass deals with the CSS, but even though we have minified JS there is no pre-processor to minify

[2014-10-13 16:36] #61 closed, assigned to polevaultweb

[2014-10-14 11:45] bradt opened #100 "Not rewriting URLs for the_post_thumbnail in custom WP_Query"
https://wordpress.org/support/topic/not-rewriting-urls-for-the_post_thumbnail-in-custom-wp_query?replies=2

[2014-10-14 11:49] bradt opened #101 "Filter to add additional AWS meta data to the file upload"
Shouldn't have to hack the core like this guy is doing:
https://wordpress.org/support/topic/setting-cache-control-meta-data?replies=1

[2014-10-14 16:45] polevaultweb opened #103 "S3 edited images not removed when restoring image with IMAGE_EDIT_OVERWRITE set"
**Settings** (where relevant):
- [x] Copy files to S3 as they are uploaded to the Media Library
- [ ]  Remove uploaded file from local filesystem once it has been copied to S3

wp-config.php - `define('IMAGE_EDIT_OVERWRITE', true)`

**Steps**:
- Upload an image
- Edit the image - crop, scale or rotate
- Edit the image - Restore original image

**Results**

On the server the edited images will be d

[2014-10-14 20:08] #96 closed, assigned to polevaultweb

[2014-10-14 21:52] #92 closed, assigned to nobody

[2014-10-15 01:24] muleymadness opened #106 "Possible to move only video files"
Is it possible to select which files move to s3 with this plugin.  For example say I only wanted video files to use s3?  Or does it move the entire media library?

[2014-10-15 11:46] #93 closed, assigned to polevaultweb

[2014-10-15 11:53] #106 closed, assigned to nobody

[2014-10-15 13:23] #97 closed, assigned to polevaultweb

[2014-10-15 14:11] gilbitron opened #109 ""Bucket is setup for virtual hosting" more info link is broken"
Currently it points to

[code]

which 404s

[2014-10-15 14:17] #109 closed, assigned to nobody

[2014-10-15 17:28] bradt opened #110 "Filter for aborting the upload for whatever reason"
We should add a filter to `wp_update_attachment_metadata()` for aborting the upload to S3 for whatever reason. Requested in https://wordpress.org/support/topic/excluding-a-subfolder?replies=1.

[2014-10-15 17:31] bradt opened #111 "Problem with original filename/percent encoded urls"
https://wordpress.org/support/topic/problem-with-original-filenamepercent-encoded-urls?replies=1

[2014-10-15 18:17] JiveDig opened #112 "Feature Request - EDD download integration?"
I'm building a large vendor type site with Easy Digital Downloads.. their S3 addon doesn't cut it for me because I need all uploads to go to S3, not just the file downloads in EDD.

This plugin works great for getting the uploads to S3, including the EDD file uploads, but after purchase the download link gives an empty file.  I'm assuming it has to do with signed urls, but that's a bit out of my l

[2014-10-15 19:01] bradt opened #113 "Timeout when there are a lot of buckets in the account"
https://wordpress.org/support/topic/the-connection-was-reset-on-s3-and-cloudfront-settings?replies=1

[2014-10-15 19:04] bradt opened #114 "Far future headers check box does not work"
https://wordpress.org/support/topic/far-future-headers-check-box-does-not-work?replies=2

[2014-10-15 19:55] #112 closed, assigned to nobody

[2014-10-16 14:59] #110 closed, assigned to polevaultweb

[2014-10-16 15:00] #98 closed, assigned to polevaultweb

[2014-10-16 18:35] bradt opened #117 "Fill in secure attachment url function"
Apparently we haven't implemented the `as3cf_get_secure_attachment_url()` function. Oops. Time to fill that in.

Might be a good idea to use the old code as a guide, but obviously use the new AWS SDK functions to get the secure URL: https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/blob/0.5/wordpress-s3/class-plugin-public.php#L50

[2014-10-17 15:01] #117 closed, assigned to nobody

[2014-10-17 17:47] bradt opened #120 "Improved UI"
Rather than overwhelm the user with all the settings when they're first setting up the plugin, we ask them to select a bucket or create a new bucket:

![image](https://cloud.githubusercontent.com/assets/190095/4683008/edcf8efa-5622-11e4-93ab-6dd68e29e073.png)

https://www.dropbox.com/s/5doth7lnhgr47sd/as3cf-0.7-01.psd?dl=0

The list of buckets should be retrieved either by AJAX or an iframe. Devel

[2014-10-19 12:58] bradt opened #121 "What happens when the user policy doesn't allow access to S3?"
1. When WP_DEBUG is true?
2. When WP_DEBUG is false?

[2014-10-20 01:42] brianfeister opened #122 "Exception - Error retrieving a list of your S3 buckets from AWS: The difference between the request time and the current time is too large"
I've got the following on my settings page and in my logs when I upload media assets:

[code]

Is there a dependency that my server time be in sync with the server time from AWS?  Seems a strange path to go down in terms of debugging so I wanted to ask before embarking on a wild goose chase.

[2014-10-20 17:38] bradt opened #123 "PHP Strict standards: Declaration of `Amazon_S3_And_CloudFront::get_setting()`"
[code]

[2014-10-20 17:53] bradt opened #124 "Warning error when S3 permissions are read-only"
As per https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/issues/121#issuecomment-59764459, there is no error message when the user's policy for S3 is read-only and `WP_DEBUG` is `false`.

When this is the case, we should hide all the configuration options and only show an error message under the title:

[2014-10-20 17:54] #121 closed, assigned to polevaultweb

[2014-10-21 09:04] polevaultweb opened #125 "Code formatting clean up"
Format to WP coding standards - (automatic in PHPStorm for me)

[2014-10-21 09:05] polevaultweb opened #126 "PHPDoc clean up"
Add and update PHP doc blocks

[2014-10-22 12:24] bradt opened #128 "Pro version promo sidebar and email opt-in"

[2014-10-22 13:37] fadookie opened #129 "Plugin breaks custom header feature"
After installing this plugin, I was having a lot of trouble getting the custom header feature in WP 4.0 to work (under Appearance -> Header.) I went the "Or choose an image from your media library:" route. First of all, the preview image shown to crop media was a broken link. I got through the crop stage by disabling the plugin, but I re-enabled the plugin before submitting my crop so it would be

[2014-10-22 14:18] #124 closed, assigned to polevaultweb

[2014-10-22 15:45] polevaultweb opened #130 "Use set_site_transient for permission checks"

[2014-10-22 21:50] bradt opened #133 "Stop caching the write permission check"
I think I may have made a mistake in requesting that the write permission check be cached. I think it makes more sense to check it every time the settings page is loaded. It's not like that page is going to get a ton of traffic anyways.

At the moment, if I go to the AWS Console and change the policy and break uploading on my site, going to the AS3CF settings page in WordPress may not show me the

[2014-10-22 21:52] #130 closed, assigned to polevaultweb

[2014-10-22 22:03] bradt opened #134 "Update readme with pro version info"

[2014-10-22 22:19] gtrout opened #136 "Replace media functionality"
We used to use the [Enable Media Replace](https://wordpress.org/plugins/enable-media-replace/) plugin and when we first migrated to Amazon S3 & Cloudfront it seemed to work, so long as versioning was enabled we chose the "Replace the file, use new filename, and update all links" option (vs. just "Replace the File"). For some reason, it no longer appears to work.  I suspect it might have to do with

[2014-10-23 08:25] polevaultweb opened #138 "Update changelog"

[2014-10-23 19:30] #133 closed, assigned to polevaultweb

[2014-10-24 08:22] #128 closed, assigned to bradt

[2014-10-24 08:30] #134 closed, assigned to nobody

[2014-10-27 18:01] polevaultweb opened #139 "Update 'tantan_wordpress_s3' settings key name"
To something more like 'amazon_s3_cloudfront'

Can use upgrade class from https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/pull/116

[2014-10-31 12:41] polevaultweb opened #140 "Ability to be extended by other plugins"

[2014-10-31 14:55] #140 closed, assigned to nobody

[2014-10-31 15:45] nerrad opened #142 "Restoring original images on edited version breaks link to image."
This is happening in a multisite environment.  If you edit via the wp mediuploader on the post page then save, things work okay.  However if you edit after the fact via the media admin page, changes do not save.

I'm working on getting this to work for our use case but thought I'd post this here in case its already a known issue and someone can point me to it, or there's a known solution already a

[2014-11-02 03:34] #122 closed, assigned to nobody

[2014-11-03 06:55] drewsymo opened #144 "Support for other assets (WP Super Cache etc)"
Is it possible to allow support for uploading cache files to S3 / CloudFront? e.g. the cache folder that is created by WP Super Cache?

[2014-11-03 17:08] #139 closed, assigned to nobody

[2014-11-06 20:24] polevaultweb opened #146 "Object private ACL support"
We allow the object ACL to be changed but if it is set to `private` we need to record this so to correctly generate secure urls.

The thumbnails in `upload.php` and the media modal, and other resized images urls need to correctly filtered to have a secure url generated when necessary.

[2014-11-07 12:52] #95 closed, assigned to polevaultweb

[2014-11-07 18:03] #123 closed, assigned to nobody

[2014-11-10 15:15] polevaultweb opened #150 "Use existing S3 metadata when updating/editing an attachment"
This will stop issues with different timestamps with the object versioning setting and handle changes to the bucket and object prefix settings between updates to the image.

Also use existing region so no need to call `getBucketLocation` more than necessary

[2014-11-10 16:19] polevaultweb opened #151 "Edited versions of image files do not get deleted when deleting image permanently"

[2014-11-11 13:34] #142 closed, assigned to nobody

[2014-11-11 13:34] #150 closed, assigned to polevaultweb

[2014-11-11 13:50] #146 closed, assigned to polevaultweb

[2014-11-11 16:26] #151 closed, assigned to polevaultweb

[2014-11-11 17:36] polevaultweb opened #153 "Editing images when we have set local files to be removed"
Placeholder for now - as this hasn't worked whilst testing other issues

[2014-11-12 15:50] polevaultweb opened #155 "Refactor delete_attachment with new methods"
New methods for getting image sizes files and deleting S3 objects introduced in https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/pull/154

[2014-11-13 10:54] #153 closed, assigned to nobody

[2014-11-27 20:43] #111 closed, assigned to polevaultweb

[2014-11-27 20:58] #103 closed, assigned to polevaultweb

[2014-11-27 21:13] #155 closed, assigned to polevaultweb

[2014-11-28 12:58] #125 closed, assigned to nobody

[2014-11-28 13:26] bradt opened #157 "Cleanup Scrutinizer CI issues"

[2014-11-28 15:06] bradt opened #158 "Empty error message"
![image](https://cloud.githubusercontent.com/assets/190095/5229494/a2f5498c-76ee-11e4-8278-be322d1190ea.png)

[2014-11-28 15:09] #158 closed, assigned to nobody

[2014-11-28 18:57] bradt opened #159 "There's no way to know what went wrong when an error occurs"
We need to log errors and let the user know to check their logs.

[2014-11-28 18:59] bradt opened #160 "Generate pot file"

[2014-11-28 19:23] bradt opened #161 "Ensure a compatible version of the AWS plugin is installed"
If the version of AWS installed isn't compatible with this addon, we should disable it.

[2014-11-28 19:25] #159 closed, assigned to bradt

[2014-11-28 19:40] #138 closed, assigned to nobody

[2014-11-29 12:17] theclue opened #162 "Cannot regenerate thumbnails stored on S3"
While trying to regenerate thumbnails with the Regenerate Thumbnails plugin, the resize action fails as it's trying to open the image file on the local filesystem rather than the S3 bucket.

I think it's a big break, as it forces to reupload the entire media library when thumbnail size must be changed

I'm using WP 4.0 on Windows Azure

[2014-12-02 13:42] polevaultweb opened #165 "After bucket select turn on copy and rewrite url settings by default"

[2014-12-02 13:47] polevaultweb opened #166 "Hide related options when "Copy Files to S3" or "Rewrite File URLs" are off"

[2014-12-02 15:26] #161 closed, assigned to bradt

[2014-12-03 13:19] #160 closed, assigned to polevaultweb

[2014-12-04 04:53] gofas opened #167 "Empty Space Used in network subsite dashboard"
I installed, configured and migrated all images successfully to aws s3.
How do i view the space used in subsites wp dashboard at a network, based on the space used in s3?

![captura de tela 2014-12-03 as 22 06 14](https://cloud.githubusercontent.com/assets/7539811/5293841/addc433e-7b60-11e4-9d61-49179dfea029.png)

[2014-12-04 21:06] andrewnoruk opened #168 "Only perform read/write check after bucket and paths have been set"
I see that an additional check for global write permissions is done in #124. This simple check breaks set ups where there are more complex IAM policies which allow Readonly access to the list of buckets but only write access to specific paths on the bucket.

For example, we use one shared bucket to store the assets for many Wordpress sites, and explicitly set write permissions for certain paths wi

[2014-12-05 22:44] #168 closed, assigned to polevaultweb

[2014-12-05 23:40] mcdanielisaac opened #171 "Option to upload compressed version to S3"
CloudFront will only serve a compressed file if it has been included in your S3 Bucket. However, S3 will not compress the file for you. It would be an awesome feature to be able to have this plugin give the option of compressing and uploading both versions.

Heres the [info in the AWS documention](http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/ServingCompressedFiles.html#Compres

[2014-12-08 15:13] polevaultweb opened #172 "Update .pot file"
Just before the release

[2014-12-08 15:24] polevaultweb opened #173 "Add plugin to translate.deliciousbrains.com"

[2014-12-08 15:36] #173 closed, assigned to bradt

[2014-12-09 12:34] polevaultweb opened #176 "Add a CONTRIBUTING.md"
Help with people opening PRs to master etc

[2014-12-09 13:13] #176 closed, assigned to polevaultweb

[2014-12-09 13:27] #162 closed, assigned to polevaultweb

[2014-12-09 13:27] #70 closed, assigned to nobody

[2014-12-10 04:00] ianmjones opened #178 "Notice: Undefined variable: message in view/error.php on line 2"
On first usage of current `develop` version of as3cf on a PHP5.3.3+ / WP 3.9.2 site where database was recently pushed to with WP Migrate DB Pro from a site which already had as3cf working correctly.

![as3cf - error](https://cloud.githubusercontent.com/assets/4710/5370776/9a6065b0-808d-11e4-88c5-8d952557ecd2.png)

[2014-12-10 16:04] spawn-guy opened #179 "EU is not a valid region for Amazon Simple Storage Service"
This is introduced with the recent version of the plugin.

Apparently, there is some inconsistency in Amazon's docs:
http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGETlocation.html
as expected, returned values should be:  .... sa-east-1 | empty string (for the US Classic region)
but the example shows a non-valid response: <LocationConstraint xmlns="http://s3.amazonaws.com/doc/2006-03-01/

[2014-12-10 18:03] polevaultweb opened #180 "Multisite and legacy MS upload paths"
Currently the plugin works well for Multisite installs post WP 3.5, but it does not support installs created before 3.5 and since upgraded. Crucially they use the `blogs.dir` for (non main) sites' uploads:
`/wp-content/blogs.dir/2/files/2014/12/image.jpg`

The plugin does not handle that at all as there are two different paths depending if the site is the main one or not. The main site would look

[2014-12-11 07:23] #178 closed, assigned to polevaultweb

[2014-12-11 07:26] polevaultweb opened #183 "HTTP Error and permission message"
2 users on wp.org get an HTTP error when uploading media and apparently incorrectly still have the permission error on the plugin settings.

https://wordpress.org/support/topic/http-error-50

[2014-12-11 15:20] #179 closed, assigned to nobody

[2014-12-11 15:21] bradt opened #184 "Prepare for release"
Do what needs to be done for 0.7.2 to be ready to push to WP.org.

[2014-12-11 15:26] #183 closed, assigned to nobody

[2014-12-11 16:31] #184 closed, assigned to nobody

[2014-12-15 16:35] polevaultweb opened #185 "Better handling of WP_Filesystem"
There are issues with some users installs because we are not initialising WP_Filesystem correctly, with credentials

https://wordpress.org/support/topic/problem-after-the-recent-update?replies=2

[2014-12-15 16:59] polevaultweb opened #186 "Full control over SSL setting"
This user does serve their site over SSL but actually wants to force S3 links to _http_.
https://wordpress.org/support/topic/cant-force-url-to-be-http-not-https?replies=1

Perhaps we should make the toggle default to is_ssl(), but if we toggle it off then it will always be http

[2014-12-15 19:34] bradt opened #187 "Revert Composer dependency"
As discussed in https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/commit/70f599b61dce39f449561cc6fd710b639726dd1b#commitcomment-8962801, we should still include the `deliciousbrains/wp-amazon-web-services` dependency and somehow fix the issue with running `composer install` from the plugin folder.

[2014-12-15 20:33] bradt opened #188 "ON/OFF switches should save on change?"
I think the user expectation of the ON/OFF switches is that they save when they are changed. That's how they work on most UIs and very common on mobile.

I'm wondering if we've created a usability problem by requiring that they click the save button at the bottom of the page to save all the changes. Thoughts?

[2014-12-17 16:00] #166 closed, assigned to polevaultweb

[2014-12-17 16:00] #120 closed, assigned to polevaultweb

[2014-12-17 16:00] #165 closed, assigned to polevaultweb

[2014-12-17 18:18] dpegasusm opened #189 "Change Expires in S3 to use Cache-Control max-age instead"
There are two different metadata options in S3, one for Expires and one for Cache-Contol. For CloudFront and browsers they perform very similar functions for caching objects except for how they handle when a files in the S3 bucket reaches the end of the time set by the Cache-Control or Expires. "Expires" will forward all requests at the end of the expiration date back to the server resulting in hi

[2014-12-17 19:18] bradt opened #190 "Double check that settings in version 0.7.2 are correct in 0.8 after upgrade and saving"
1. Save settings in 0.7.2
2. Upgrade the plugin to 0.8
3. Verify that each setting is correct in the UI
4. Save the settings
5. Again, verify that each setting is correct in the UI

[2014-12-18 19:20] bradt opened #193 "Detect when changes have been made to the settings and warn the user before allowing them to exit the page"
As per the discussion in https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/issues/188, we need to warn the user when they are about to exit the page without saving changes. Obviously if they haven't made changes, it shouldn't prompt them. A little research should be done on ways to detect when changes have been made. It's been done plenty of times before so it's a good idea to see if

[2014-12-18 19:21] #188 closed, assigned to nobody

[2014-12-18 19:32] #190 closed, assigned to nobody

[2014-12-19 11:04] #187 closed, assigned to polevaultweb

[2014-12-19 14:59] #185 closed, assigned to polevaultweb

[2014-12-20 15:39] plmwebdev opened #195 "Error: Local File System"
When I save, i get this error.

There was an error attempting to access the local file system whilst checking the bucket permissions.

Any clues, please?

[2014-12-22 14:27] #193 closed, assigned to polevaultweb

[2014-12-22 14:36] bradt opened #196 "Style of default path does not match mockups"
Should be italic, rather than formatted like code.

[2014-12-22 14:43] #186 closed, assigned to polevaultweb

[2014-12-22 14:54] #196 closed, assigned to nobody

[2014-12-26 20:27] thisiswei opened #198 "Featured image using wp but should be using cdn"
The "featured image" url is not pointed to cdn ?

[2015-01-02 14:36] sethrubenstein commented on #195
Getting the same thing in the settings panel for the plugin. Running on multsiite. Any ideas?

[2015-01-04 17:12] soyguille opened #199 "NextGen media library"
Hello
Your plug is working fine for me on default wordpress media library, but only with media files added with default WordPress tools.

I have discovered NextGen , sure you know is one of the most used plugins by photographers , it has lot of useful things for us , but it lacks for uploading to S3 or CDN and deleting origin files , I use a Cloud Host VPS and space is expensive.

I though that jo

[2015-01-04 17:37] bradt commented on #199
Have you looked at Envira Gallery? https://wordpress.org/plugins/envira-gallery-lite/

[2015-01-04 19:43] soyguille commented on #199
Thanks for comment
It works perfect with your plug !!

But .....
-NO ecomerce option available , photographers need to show an sell  with download options
-NO ability to proof galleries for clients
-No multilingual , at least on lite version ( I need to sell - rent - to photographers and scalable spanish - wordpress - ecomerce solution )
-Envira needs Addon Modules even for right protect button, s

[2015-01-05 09:21] polevaultweb commented on #195
Duplicate of https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/issues/185 - is fixed in next version

[2015-01-05 09:21] #195 closed

[2015-01-05 09:50] soyguille commented on #199
I have asked envira to the possibility of working with external plugs , I will inform with response .

Multi language options is posible in other versions ( PO. MO )

[2015-01-05 10:26] polevaultweb commented on #198
@thisiswei just tested 0.7.2 with a post with a featured image, and the URL is served from S3. Have you got steps to recreate your issue?

[2015-01-05 12:39] polevaultweb opened #200 "Upgraded legacy Multisite URLs do not have subsite number in them"
If a MS install created pre 3.5 has been upgraded to 3.5+, the base upload path derived from the option 'upload_path' still contains the the full site path for files, e.g `wp-content/blogs.dir/2/files`. This means that when it is removed from the `wp_upload_dir` path it will remove the subsite identifier, resulting in a generic prefix across all the sites in the network.

[2015-01-05 12:39] polevaultweb commented on #180
Clarified the issue here https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/issues/200

[2015-01-05 12:39] #180 closed

[2015-01-05 14:02] bradt opened #202 "URL preview wrapping looks odd"
![image](https://cloud.githubusercontent.com/assets/190095/5613953/e8323758-94c1-11e4-8a1d-9982983a1f5e.png)

Maybe we should have a scroll instead of wrapping?

[2015-01-05 15:17] polevaultweb opened #203 "Live preview not working since adding hidden 0 value for checkboxes"

[2015-01-05 16:49] polevaultweb opened #206 "Width of error and notice needs to be increased"
To cater for the increase here https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/commit/c3fb4f87ca7387195ed8b27c3ee0196c57acaa81

[2015-01-06 03:17] #198 closed

[2015-01-06 16:17] bradt opened #208 "Call to undefined method WP_Error::get() in amazon-s3-and-cloudfront.php on line 1063"
To reproduce, remove AWS keys and load the settings page.

[2015-01-06 18:32] bradt commented on #200
Is there an easy way to reproduce this? Can I just change the value of my 'upload_path'? I assume I need to make changes to my .htaccess as well?

[2015-01-06 18:35] polevaultweb commented on #200
Actually you would need to install 3.4, create network then upgrade.

It could work...

[2015-01-06 19:28] #208 closed

[2015-01-06 19:29] #206 closed

[2015-01-06 19:29] #202 closed

[2015-01-06 19:29] #203 closed

[2015-01-06 19:31] bradt commented on #200
Meh, I'll stop being lazy. :)

[2015-01-06 20:10] #200 closed

[2015-01-06 20:11] #33 closed

[2015-01-07 02:15] dream2live opened #210 "Manual Image Crop Not working"
Hi,

I've managed to find the problem why Manual image crop doesn't seem to work, I've deactivated the S3 plug in, and it worked after.

May I ask if there's some settings i can tweak or a workaround to this?

Our company needs both plug ins to work on WP.

Our website is hk-stage.localiiz.com

[2015-01-07 09:13] polevaultweb commented on #210
@dream2live hi, could you post a screenshot of your plugin settings and let me know steps to recreate

[2015-01-07 11:22] polevaultweb opened #212 "Build folder for release"
This plugin and AWS should have the build folder so we can use the plugin-build script to release, right?

[2015-01-07 14:01] bradt commented on #172
Please load it into our translation site as well.

[2015-01-07 14:03] bradt commented on #212
Nope, I do it the old fashioned way for now. Once we roll everything into the `wp-aws` repo we'll have a `build-cfg` folder.

[2015-01-07 14:03] #212 closed

[2015-01-07 14:20] polevaultweb commented on #172
Done

[2015-01-07 14:20] #172 closed

[2015-01-08 08:50] polevaultweb commented on #210
Thanks for the details @dream2live, just to be clear is it this plugin you are using? https://wordpress.org/plugins/manual-image-crop/

[2015-01-08 11:49] dream2live commented on #210
@polevaultweb yup that's correct! If i disable the S3 plug in, the manual crop works fine,

[2015-01-08 20:09] #157 closed

[2015-01-08 20:42] bradt opened #213 "Prepare for release"
- [x] Grunt for assets
- [x] Update .pot file
- [x] Bump version in readme.txt,
- [x] Bump version in php file header
- [x] Bump version in AWS meta global
- [x] Update required version of Amazon Web Services (`$aws_plugin_version_required`) where necessary
- [x] Update version of supported addons where necessary in AWS meta global
- [x] Update changelog with commits for this version

[2015-01-08 20:42] bradt commented on #213
@polevaultweb Can you take care of this please?

[2015-01-09 16:52] polevaultweb commented on #213
NA:

- [] Update required version of Amazon Web Services (`$aws_plugin_version_required`) where necessary
- [] Update version of supported addons where necessary in AWS meta global

[2015-01-09 16:53] #213 closed

[2015-01-09 17:06] polevaultweb opened #214 "Can't create a bucket when specifing a region for AWS client."
To recreate:

- Add `define( 'AWS_REGION', 'eu-central-1' );`
- Create a new bucket
- Error as below

![screen shot 2015-01-09 at 17 05 52](https://cloud.githubusercontent.com/assets/1770201/5683681/cb9a1dc8-9821-11e4-97a8-dd827a9e64d2.png)

This is only a necessary fix if we decide to keep the use of AWS_REGION constant in AWS plugin, based on https://github.com/deliciousbrains/wp-amazon-web-serv

[2015-01-09 20:35] bradt opened #215 "PHP Notice: Array to string conversion"
[code]

[2015-01-09 21:10] #215 closed

[2015-01-11 18:53] s3w47m88 opened #217 "Styling issue - White lines appearing in WordPress admin navigation"
![screen shot 2015-01-11 at 10 52 56 am](https://cloud.githubusercontent.com/assets/656776/5696307/065d6b2c-9980-11e4-9a94-374bfafa737a.png)

When the Plugin is enabled it seems to load administrative wide styling (when it should only load the styles on it's own administrative page) causing white lines to appear in the navigation area on the left of the WordPress admin.

[2015-01-12 14:15] polevaultweb commented on #214
Constant removed in AWS plugin, issue redundant

[2015-01-12 14:15] #214 closed

[2015-01-13 19:20] psorowka commented on #129
Hi, just played around with the current master and have to confirm the feature is still broken. Although the cropped image seems to be uploaded (= is on S3), the database table contains the path to the (non-existent) image in the local wp-uploads directory.

Same behaviour is for the image rotating/mirroring/cropping feature from the media library

(wordpress version 4.1)

[2015-01-14 01:58] JackSW opened #218 "Settings page is blank"
Settings page does not render and the log files show the following error:

PHP Catchable fatal error:  Object of class WP_Error could not be converted to string in /wordpress/wp-content/plugins/amazon-web-services/vendor/aws/Aws/Common/RulesEndpointProvider.php on line 65, referer: http://website.com/wp-admin/admin.php?page=amazon-web-services

I tracked down that the error gets trigger in amazon-

[2015-01-14 02:37] ianmjones commented on #218
Hey @JackSW, what web server are you using?

[2015-01-14 04:19] JackSW commented on #218
Apache/2.2.22 (Ubuntu) on EC2

[2015-01-14 07:26] kersten commented on #218
Same problem here

[2015-01-14 07:44] kersten commented on #218
I could get this fixed if I give all permissions of S3 of all buckets to the user I'm using.

My policy now look like this:

[code]

This is not OK for me  I want to use something like this:

[code]
Could you please fix this issue?

[2015-01-14 08:06] brandonlucius opened #219 "Wordpress Error"
Hello, I created a test cdn site before I started incorporating cdn technology into my clients' websites. The url is cdntest.brandonluciusdesigns.com. I'm getting an error stating:

"Warning: strtolower() expects parameter 1 to be string, object given in /home/content/p3pnexwpnas05_data03/83/2396483/html/wp-content/plugins/amazon-s3-and-cloudfront/classes/amazon-s3-and-cloudfront.php on line 1132"

[2015-01-14 10:44] polevaultweb commented on #219
@brandonlucius what region is your bucket in? Could you post a screenshot of your plugin settings please?

[2015-01-14 11:43] polevaultweb commented on #218
@kersten are you hosting the site on EC2 aswell?

[2015-01-14 11:53] theclue opened #220 "Error in table prefixes in cron task to update bucket region in S3 metadata"
I've just updated to the most up-to-date version and I now I ended up with these errors ino the log:

[14-Jan-2015 09:33:23 UTC] WordPress database error Table 'openanalytics.gb_1_7_postmeta' doesn't exist for query SELECT `post_id` as `ID`, `meta_value` AS 's3object'
AND `meta_value` NOT LIKE '%"region"%'
LIMIT 428 made by do_action_ref_array, call_user_func_array, AS3CF_Upgrade->cron_update_meta

[2015-01-14 11:53] kersten commented on #218
Yes, Auto deployed by opsworks

[2015-01-14 12:03] polevaultweb commented on #218
@kersten thanks! Before you fixed the issue with the policy, did you get the same error in your log?

[2015-01-14 14:33] polevaultweb commented on #220
@theclue what is the value of `$table_prefix` in wp-config.php?

[2015-01-14 14:36] theclue commented on #220
here's the line:

$table_prefix  = 'gb_';

regards,
gabriele

[2015-01-14 14:37] polevaultweb commented on #219
@brandonlucius when do you see the issue, when you are visiting the plugin settings or uploading media?

[2015-01-14 19:18] brandonlucius commented on #219
My bucket is currently in the US East region.

I've uploaded a picture of the error.

![screenshot 2015-01-14 13 15 11](https://cloud.githubusercontent.com/assets/10528061/5745570/705ab54a-9bef-11e4-8dc7-592a0daa1bc5.png)

The site is currently hosted on Wordpress under GoDaddy Managed Wordpress.

I only see the issue in the backend. Everything shows up fine on the front-end of things.

[2015-01-14 20:19] bradt commented on #220
@polevaultweb Looks like this code might be running on a subsite, but only should be running at the network admin level?

[2015-01-15 09:43] polevaultweb commented on #220
@bradt thanks for that, I was a bit stumped! Will try to recreate...

[2015-01-15 09:49] theclue commented on #220
Sorry, I forgot to mention that the plugin is actually network activated

[2015-01-15 09:51] polevaultweb commented on #220
@theclue yes correct, the plugin is - but I think some of our upgrade routine can be mistakenly run when visiting the dashboard of a subsite, am investigating now

[2015-01-15 12:20] polevaultweb commented on #220
@theclue this will be fixed in the next release

[2015-01-15 12:51] polevaultweb commented on #217
hey @s3w47m88 that isn't actually this plugin, you have installed https://wordpress.org/plugins/aws-for-wp/. I recommend contacting the developers of that plugin.

[2015-01-15 12:51] #217 closed

[2015-01-15 12:59] polevaultweb commented on #218
@kersten just to confirm, this policy does not work for you?
[code]

Can you upload me a screenshot of the settings page when you are using that policy and let me know what the region of your bucket is, and the region of your EC2 instance please?

[2015-01-15 13:01] kersten commented on #218
Correct. This policy does not work. I don't know if the code checks different permissions, but it should work with this type of policy.

And I don't get the error ...

[2015-01-15 13:03] polevaultweb commented on #218
@kersten what are you seeing then, just a blank settings page with that policy?

[2015-01-15 13:04] kersten commented on #218
yeah, just a white page. No PHP Error or something like that.

[2015-01-15 13:06] polevaultweb commented on #218
@kersten cheers. What is the region of your chosen bucket, and the region of your EC2 instance so I can try to recreate please

[2015-01-15 13:11] kersten commented on #218
@polevaultweb both are in Ireland. Here are some facts about the machine:

######  OpsWorks Summary  ######
   Operating System: Ubuntu 14.04.1 LTS
   ......
   EC2 Region: eu-west-1
   EC2 Availability Zone: eu-west-1a

[2015-01-15 13:12] polevaultweb commented on #218
@kersten cheers!

[2015-01-15 16:10] polevaultweb commented on #218
@kersten would you mind testing with these versions for the plugin to see if they fix your issue?
http://cl.ly/3b1W0q2d2A1W
http://cl.ly/3g1Q303M1215

[2015-01-15 16:19] polevaultweb commented on #219
@brandonlucius thanks for the details. Would you mind testing these versions of the plugins (AWS & AS3CF) to see if they fix your issues?

http://cl.ly/3b1W0q2d2A1W
http://cl.ly/3g1Q303M1215

[2015-01-15 16:21] brandonlucius commented on #219
Sure, no problem.

On Thu, Jan 15, 2015 at 10:19 AM, Iain Poulson <notifications@github.com>
wrote:

--

*Brandon Lucius,*
*Brandon Lucius Designs*
*1-888-470-0572*
*www.brandonluciusdesigns.com <http://www.brandonluciusdesigns.com/>*

*Partnerships & Memberships*
Bing Ads Accredited Professionals | Verify
<http://advertise.bingads.microsoft.com/en-us/training-accreditation-find-a-pro-directory?Co

[2015-01-17 01:45] s3w47m88 commented on #217
Bizarre! Somehow it linked me here? Must have been a bad fork. Sorry!

[2015-01-17 12:10] soyguille commented on #199
Imposible to find  e commerce photo gallery compatible with S3 Amazon, every one makes its own media folder.
I have found some woo commerce, convert photos to woo commerce products.
[Lunar](http://www.sakuraplugins.com/products-list/lunar-sell-photos-online-wordpress-photography-plugin/)

May be your next Woocommerce compatible Pro-plug could do job ?

[2015-01-20 07:49] kersten commented on #218
sorry @polevaultweb. Already fixed? Got two updates. Do I need to check this stuff you've uploaded here?

[2015-01-20 10:36] polevaultweb commented on #218
@kersten the releases yesterday should fix the issues, update and let me know :)

[2015-01-21 23:46] theclue commented on #220
tnx, it works like a charm!

[2015-01-21 23:46] #220 closed

[2015-01-29 05:07] tallmorgan opened #221 "Editing image (e.g. scaling, cropping) breaks image"
On a fresh install of WordPress, enabling just AWS Web Services and AWS S3 plugins works wonderfully for uploading images to Amazon. The issue I'm experiencing is when trying to edit the image, e.g. scaling/cropping, it breaks the image.

An immediate solution for power users is to use another tool e.g. Photoshop, GIMP, etc., to resize the image before uploading, but for regular WP admin users, it

[2015-01-30 09:52] ohMatty commented on #7
When will this be added?

[2015-01-30 12:53] jamesblackwell opened #222 "Plugin seems to force requirement of read/write access to all buckets"
I've tried several user policies and the only way I can get this plugin to work is when full read/write access is given to all buckets. What's wrong with a user policy like below?

[code]

I have allowed access to list the buckets and full read/write to just a single bucket "my-files" but I receive the "S3 Policy is Read-Only" error.

There's no way we can allow full access to all buckets, its far

[2015-01-30 13:11] polevaultweb commented on #222
Can you try
[code]

[2015-01-30 13:29] jamesblackwell commented on #222
Thanks, I think this looks like it's working fine now:

[code]

So the difference being the trailing slash and asterisk.

[2015-01-30 13:41] #222 closed

[2015-02-02 15:44] A5hleyRich commented on #221
This issue has been resolved and will be available in the next release.

[2015-02-03 17:43] tmoitie opened #224 "get_attached_file in upload_attachment_to_s3 returning empty string when W3 Total Cache database cache is enabled."
For some reason `$file_path = get_attached_file( $post_id, true );` is returning nothing when the database cache is on and the upload is initiated from a non ajax script (specifically `acf_form` in ACF pro).

[2015-02-03 17:48] tmoitie commented on #224
This is the line in question https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/blob/master/classes/amazon-s3-and-cloudfront.php#L405

[2015-02-08 02:54] fritcher opened #225 "IAM Policy Scope"
Your IAM policy is scoped wider than it needs to be.  Recommend narrowing it down to better fit amazon accounts that have more than one site running.

i.e. I got this error:
![amazon_s3_and_cloudfront_wordpress](https://cloud.githubusercontent.com/assets/222284/6094992/5ac8166e-aefa-11e4-924b-3bd3704024b4.jpg)

but my policy is broken down into 3 pieces:
- List All Buckets & Get bucket regions
- A

[2015-02-09 10:26] polevaultweb commented on #225
Thanks @fritcher, this will be fixed in the next release

[2015-02-09 13:42] aendrew opened #226 "Incompatible with Axis for WordPress 1.0.2"
Hi there!

I'm the developer of Axis for WordPress, an interface for easily creating a multitude of charts for WordPress. We're using `wp-amazon-s3-and-cloudfront` to serve static assets, which include my Axis charts. Alas, I'm running into a weird bug wherein only the second most-recent version of a chart is uploaded to S3.

Essentially: in Axis, you create a chart in a modal window spawned via T

[2015-02-09 16:11] bradt commented on #226
Have you tried enabling the Object Versioning option in the plugin's settings?

[2015-02-09 17:20] aendrew commented on #226
Yep, just did. Same behaviour.

[2015-02-10 13:47] aendrew commented on #226
Let's put this a different way — as a plugin developer, how do I leverage your plugin to update images in the media library? There isn't any developer documentation AFAICT...

[2015-02-11 11:02] aendrew commented on #226
Just reading through a few more issues — as per #7, does this mean there is currently no way for outside plugins to leverage `wp-amazon-s3-and-cloudfront`? If so, this should be clearly stated on the WP.org plugin page because the likelihood of breaking other code as a result of this is fairly substantial.

[2015-02-12 10:19] A5hleyRich commented on #225
This issue has been rectified and will be available in the next update.

[2015-02-12 10:19] #225 closed

[2015-02-13 15:31] aendrew commented on #7
This issue makes me sad.

[2015-02-13 15:56] aendrew commented on #226
The issue is [here](https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/blob/master/classes/amazon-s3-and-cloudfront.php#L405) — instead of using the new filename supplied via the `$data` function argument, it throws that all away and grabs the existing filename from the database.

Working on a PR now...

[2015-02-16 10:47] aendrew commented on #226
I've created a hacky workaround for the issue (replaces existing image on server and adds a timestamp to the url in TinyMCE as a cache buster) but am leaving this open in case there's a not-hacky way of leveraging `wp-amazon-s3-and-cloudfront` that I've missed.

[2015-03-10 01:49] jdriselvato opened #229 "Breaks EDD FES File Upload"
Seems like this works perfectly with EDD FES except if you use the File Upload field.

I've reported this to Easy Digital Download here: https://easydigitaldownloads.com/support/topic/fes-file-upload-field-not-saving-input/

We've concluded that it's this plug in is stopping the File Upload field to not save it's field. Not sure if this is a EDD issue to fix or this plug-ins issue. but wanted to r

[2015-03-11 13:00] 20minutos commented on #221
Hi!

we are having same -or similar- issue (only if "Remove Files From Server" options is enabled) when try to rotate (or any transformation) an image and save changes.

PHP error message:
[code]

Any estimate about when next release will be available?

Thanks!!! (and great plugin!!)

[2015-03-12 13:33] jeffesonmaia opened #230 "Setting the ACL Bucket?"
The panel has no way to set the type of acl I want to use, and I need to use private. Its remedy this?

[2015-03-21 06:46] mrbm opened #231 "Issue with plugin interfering with wp-admin/customize.php background image functionality"
When a user attempts to modify their background image they can do so no problem. After the initial upload they will see the thumbnail for the background and see the options to remove the background or change the background. In addition the theme will save the background upon viewing in a live mode.

However when returning to the customize -> background image control, instead of the the thumbnail a

[2015-03-23 08:23] A5hleyRich commented on #101
This has been resolved and will be available in the next release.

[2015-03-23 08:35] A5hleyRich commented on #230
Hey @jeffesonmaia, what's the need for setting the ACL to private?

[2015-03-23 11:25] jeffesonmaia commented on #230
Hey @A5hleyRich Thanks for Reply,
Looking after the infrastructure requested that the images were placed as private, but not explained to me why only asked.

[2015-03-23 11:30] A5hleyRich commented on #230
Ok. It just seems strange, as the Media Library items by nature are public. For example, you can visit any item using the direct URL but you shouldn't be able to index the uploads directory (which is the behaviour we have implemented in Amazon S3 and CloudFront). Therefore, this isn't possible at the moment, and I'm not sure whether it is something we plan on adding.

[2015-03-24 08:23] A5hleyRich commented on #230
Hey @jeffesonmaia, I've just been looking into this further and although you can't specify the ACL on bucket creation, you can specify the ACL for each individual upload.

Check out this filter: https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/blob/master/classes/amazon-s3-and-cloudfront.php#L409

[2015-03-24 11:08] jeffesonmaia commented on #230
Thanks, helped a lot

2015-03-24 5:23 GMT-03:00 Ashley Rich <notifications@github.com>:

--
Jeffeson Pinheiro - Programador Web
jeffeson.maia.pinheiro@hotmail.com/jeffeson.maia.pinheiro@gmail.com
+55 8589085517/+55 8597859025

[2015-03-27 04:30] rogden opened #232 "Other image sizes not deleted when attachment is deleted from s3 bucket"
When I delete an attachment, only the main file is deleted. None of the other image sizes are deleted. I believe the issue is in this function below. The value of $path in my instance is '.'. Therefor, the Key that is returned for each size for is ./image-100x100.jpg etc.. This doesn't match the key on s3 since the key shouldn't have a ./ in it.

[code]

[2015-03-30 00:30] mrbm commented on #231
Anybody there....?

[2015-03-30 00:33] mrbm commented on #221
Has the next resolved release been made available? I'm getting a problem with the editing of image as well, tried to do a basic rotation, but the "working on it" circle kept spinning on the update. And then when i went to update the post it created a link reference to: imagename-e1427674875848.jpg when the original image was imagename.jpg...and left the original image still on the s3 server. Hope

[2015-03-30 08:04] A5hleyRich commented on #231
@mrbm This is being looked into.

[2015-03-30 08:05] A5hleyRich commented on #221
The next release isn't available just yet and we don't currently have a release date. But it's well underway.

[2015-04-02 04:37] aidanlane opened #233 "Not working with WP Retina 2x"
Hi,

WP Retina 2x and Amazon S3 and CloudFront don’t seem to be playing nicely together (even though the latter has a "Copy HiDPI (@2x) Images” option which explicitly links to WP Retina 2x).

The issue seems to stem from file versioning, which we need.

Any ideas? See below:

Retina Details

This screen displays all the image sizes set-up by your WordPress configuration with the Retina details.

[2015-04-02 08:30] polevaultweb commented on #233
Have you enabled the 'Remove Files From Server' option?

[2015-04-02 09:03] aidanlane commented on #233
Yes I have, was that a mistake?

--

Aidan Lane

Director, Education Technology Lab

Faculty of Information Technology

Monash University, Room H6.80, Caulfield Campus

900 Dandenong Road, Caulfield East, VIC 3145, Australia

+61 3 9905 8471

https://www.alexandriarepository.org

CRICOS Provider: Monash University 00008C

On Thu, Apr 2, 2015 at 7:30 PM, Iain Poulson <notifications@github.com>
wrot

[2015-04-02 11:19] aidanlane commented on #233
Thanks!

[2015-04-10 01:59] SupremeMark opened #234 "Redirecting featured image not working"
I've run into a strange issue when using this.

I'm having no problems at all redirecting media within posts through S3 but when it comes to the featured image it doesn't seem to work.

I've set it up to remove media from the local server so I'm left with no image.

I've tried inspecting the element with Firefox and it looks like the source isn't loading.

The code where the problem lies is:

			<

[2015-04-10 05:10] dbolton-resolute commented on #232
+1

[2015-04-14 17:27] wilrevehl commented on #221
Posted this on the plugin support thread and then found this here so thought I'd share. I looked into the issue and Amazon wrote a php class to act as a stream protocol handler so these files can use functions like fopen. It's called aS3StreamWrapper

Here're the details: https://forums.aws.amazon.com/thread.jspa?messageID=283440

Let me know if you need any help with this. Thanks!

[2015-04-18 19:34] lordspace opened #235 "Code Suggestion: Use Singleton design pattern rather than global variables"
Why not use a singleton design pattern rather than global variables

e.g.
[code]

This is from the main plugin file: wordpress-s3.php

[code]

[2015-04-18 22:02] simplyianm opened #236 "Uncaught TypeError: undefined is not a function"
I'm getting the following error in my console whenever I try to refresh my buckets:

[code]

I can't see any of my buckets either.

Thanks!

[2015-04-20 09:12] polevaultweb commented on #236
@simplyianm are you using an IAM user to connect to AWS S3? What permissions/policy are you using?

[2015-04-20 15:28] enricodeleo opened #237 "Dealing with private directories"
Hi everyone!
I'm (happily) using this plugin to store both private (via a Bucket Policy) and public uploads on S3. Something I noticed is that even if the plugin uploads files correctly into private directories it throws an error when it tries to retrieve it for thumbnails regeneration (of course you don't see even thumbnails but it's not a problem on my end).
Digging into the plugin itself I foun

[2015-04-20 15:34] polevaultweb commented on #237
@enricodeleo thanks for raising this, we will investigate.

[2015-04-20 16:33] polevaultweb commented on #237
@enricodeleo what policy are you using to make the files private? Is this not done with the plugin's ACL filter?

[2015-04-20 16:58] enricodeleo commented on #237
@polevaultweb as I mentioned above I have a _Bucket Policy_ that recursively makes unaccessible a directory. This is the snippet:

[code]

[2015-04-21 09:17] polevaultweb commented on #237
@enricodeleo thanks for the info!

[2015-04-21 09:34] polevaultweb commented on #237
By the way, are you not seeing issues with URLs broken in the admin area for those images?

[2015-04-21 10:04] enricodeleo commented on #237
@polevaultweb  yes, I do, but this is not actually a problem for my purposes (using it for WooCommerce digital downloads).

[2015-04-21 12:08] polevaultweb commented on #237
Ah ok cool - in that case you will be very interested in this https://deliciousbrains.com/preview-woocommerce-addon-amazon-s3-and-cloudfront-pro/ :)

[2015-04-21 12:23] enricodeleo commented on #237
Yes, I am and I subscribed some weeks ago, but I was running out of time and I had to solve with the method above and apparently it works fine :)
Hopefully I'll switch to the pro version once it'll ready!

[2015-04-21 16:07] polevaultweb commented on #237
This will be fixed in the next version, thanks for your help

[2015-04-21 16:07] #237 closed

[2015-04-21 20:52] enricodeleo commented on #237
My pleasure :)

[2015-04-22 18:56] enricodeleo opened #239 "Wrong path for woocommerce uploads"
Hi,
I just found a strange behaviour: when I upload a file as downloadable product on woocommerce everything works as expected but the file path on S3 becomes woocommerce_uploads/wooc/mm instead of woocommerce_uploads/2015/04.

Any ideas?

[2015-04-23 07:09] A5hleyRich commented on #239
Hi enricodeleo,

This has been fixed in the latest development branch. It will be available in the next release.

[2015-04-23 07:09] #239 closed

[2015-04-23 10:01] enricodeleo commented on #239
Thank you!
Can I ask you another question? The development branch you're referring to is that here on github? Can I contribute to it? I think it could be nice to introduce the [stream wrapper](http://docs.aws.amazon.com/aws-sdk-php/guide/latest/feature-s3-stream-wrapper.html) in order to have a more transparent implementation of object saving/retrieving..

[2015-04-27 11:15] A5hleyRich commented on #231
This has been fixed in the latest development branch and will be included in the next release.

[2015-04-29 21:03] ggallo commented on #221
My problem is likely a duplicate of this: attempting an image edit does not "break" the image so to speak, but the edit page presents me with a broken link. Is this also covered under the future release? Thanks for such a great plugin. Looking forward to the pro version!

![screen shot 2015-04-29 at 4 58 56 pm](https://cloud.githubusercontent.com/assets/3633936/7401363/6c47359c-ee91-11e4-9853-14cc

[2015-04-30 07:44] polevaultweb commented on #221
@ggallo do you have the setting 'Remove files from server' turned on? If so then this issue is fixed in the next release.

[2015-04-30 15:46] ggallo commented on #221
Thanks @polevaultweb I do have that setting on.

[2015-04-30 21:50] machomacho commented on #234
Hey @SupremeMark, it seems that the images need to be in your uploads folder (same disk as your app) for the image to be resized. At least that's what I'm running into with Wordpress + AquaResizer + S3 (https://github.com/syamilmj/Aqua-Resizer)

[2015-05-01 08:35] polevaultweb commented on #234
@SupremeMark it shouldn't matter that the image has been removed from the local server. The issue I suspect is coming from the custom function `vt_resize()`. Our plugin hooks into the WordPress filter 'wp_get_attachment_url', which is used by WordPress built in functions when retrieving images and featured image. Without looking at the code for `vt_resize()` I would assume it doesn't use that filt

[2015-05-04 02:26] aidanlane commented on #233
Hi @polevaultweb, have you any updates? we really need to resolve this and are more than happy to donate!

[2015-05-04 12:09] polevaultweb commented on #233
@aidanlane after investigation it looks like there would need quite a bit of work done to the WP Retina plugin to add hooks and filters so our plugin can fully integrate with it, when using the 'remove from server' option.

[2015-05-06 04:05] aidanlane commented on #233
Really? Wouldn't correcting the Image URL to include the version go a long way to resolving the issue?

There are some `file_exists` checks that could be fixed in WP Retina though.

Btw, the 'remove from server' is kind of implicit from our system architecture anyway, as we have an ephemeral filesystem and a scalable set of nodes in the web tier.

[2015-05-06 13:09] dpegasusm opened #240 "Breaks WP Import Functionality"
When using the WordPress import tool with the option to "Remove Files From Server" tuned on, the uploaded XML file is moved to the AWS S3 bucket and removed from the server preventing the import from completing because the file cannot be found to be used in subsequent steps.

A cheap workaround is to disable the "Remove Files From Server" option when an import needs to be done but it should work w

[2015-05-06 16:21] polevaultweb commented on #240
@dpegasusm thanks for the heads up, we will take a look

[2015-05-12 17:33] mrbm opened #241 "Using this plugin with WPMU Dev Upfront themes"
I have been trying to use the wpmu dev upfront theme ( please try the demo for more context its really cool: http://spirit.upfront.pro/?editmode=true )

It all works fine...until trying to add an image. The theme will attempt to resize images. Your plugin doesn't seem to play nice. I'm wondering if the fix for using cropping and resizing images will also fix the issues occurring with this group of

[2015-05-12 17:33] mrbm commented on #231
I would love to test it, but when i am on github i'm seeing a development branch that is older than the master, is there a place I could try your changes out?

[2015-05-13 07:30] A5hleyRich commented on #231
This repo is only used for issue reporting by the public. Since work on the Pro version has begun we use a private repo, which is only accessible to the development team.

[2015-05-13 09:11] polevaultweb commented on #241
@mrbm have you got the setting 'Remove file from server' enabled?

[2015-05-13 18:03] mrbm commented on #241
Yes

[2015-05-14 10:26] polevaultweb commented on #241
In that case this issue will be fixed in the next version of the plugin in development at the moment

[2015-05-14 10:26] #241 closed

[2015-05-14 17:34] mrbm commented on #241
Will the fix also be available in the free release? Also is there a basic timeline on the next release or can there be a pre-release for the issue? If you guys are having trouble with the issue i have a possible solution.

Also I wanted to do a workaround for the theme to temporarily get around your bug, but there is no way to disable the plugin for a single sub-site in a multi-site environment, c

[2015-05-15 06:36] polevaultweb commented on #241
@mrbm thanks for the offer but we have it covered. It will be in the free release and available soon

[2015-05-22 00:45] andrewchen5678 opened #242 "Is it supposed to redirect to amazon s3 when accessing the old wp-content/uploads/ urls?"
Is it supposed to redirect from http://domain.com/wp-content/uploads/image.jpg to https://s3.amazonaws.com/bucket/wp‑content/uploads/image.jpg? Right now I am getting 404. It would be great help that I don't need to update all urls in my posts if it has such feature.

[2015-05-22 00:59] andrewchen5678 opened #243 "Url still using subdirectory even if set to use subdomain"
![screenshot 2015-05-21 17 49 40](https://cloud.githubusercontent.com/assets/2096114/7762028/f0700bf2-ffe2-11e4-8e69-3d7da0434443.png)
When domain is set to "Bucket name as subdomain", it is still showing https://s3.amazonaws.com/bucket-name/wp‑content/uploads/photo.jpg instead of http://bucket-name.s3.amazon.com/…

[2015-06-10 16:00] kara-todd commented on #221
@A5hleyRich Is there a release which contains this fix? I see it's marked as 'resolved' but downloading the latest stable version (0.8.2) it's still causing some issues for us. If there isn't a full release, is there a hot fix or something I can add it to at least temporarily patch this?

[2015-06-10 19:30] mrbm commented on #221
Would love that hot fix too...stuck in the mud here waiting.

[2015-06-11 22:12] A5hleyRich commented on #221
@kara-todd @mrbm The release that contains the fix isn't available yet. We haven't got a hotfix available as there are too many changes required to get this working, hence it being shipped in the next release. The only work around at present is to disable the option 'Remove files from server' and copy the existing S3 files back to the server if they're not already present.

[2015-06-11 22:43] mrbm commented on #221
perhaps there should be an "intermediate" release to fix the broken items before releasing the version with new features...?

[2015-06-12 15:52] kara-todd commented on #221
@A5hleyRich We don't have the 'Remove files from server' option checked, but I'm also seeing this behavior with plugins which generate new images sizes. In particular (right now) [Meta slider](https://wordpress.org/plugins/ml-slider/) which dynamically creates a new image size. For some reason this is still causing the text-to-screen issue even though the original image assets should be there... C

[2015-06-13 01:02] arabold commented on #21
I was wondering the same thing. It would be better to use IAM roles as hard coding keys anywhere is not a good practice for production systems.

[2015-06-13 07:54] polevaultweb commented on #21
We have added a filter to the next version currently in development that allows you to indicate IAM roles are being used, so you don't need to add your keys

[2015-06-15 07:18] A5hleyRich commented on #242
No, the assets aren't automatically redirected. The pro version will however automatically update the URLs within your content.

[2015-06-15 07:21] A5hleyRich commented on #243
Unable to replicate this. Please could you provided us with your full settings screen and any active plugins that you have installed.

[2015-06-15 07:26] A5hleyRich commented on #221
@mrbm No intermediate release is planned.

@kara-todd This may be a separate issue. We'll test with Meta Slider and let you know.

[2015-06-15 07:29] mrbm commented on #221
So the plugin is broken, there is no timeline, and no intermediate
releases....whats the plan here kids?

On Mon, Jun 15, 2015 at 12:26 AM, Ashley Rich <notifications@github.com>
wrote:

[2015-06-15 07:52] #242 closed

[2015-06-15 09:12] andrewchen5678 commented on #243
Working now.

[2015-06-15 10:19] #243 closed

[2015-06-17 02:47] icecast opened #244 "How to Get S3 URL Right Away"
I can display images in posts because they use attachments, but cannot display images that are stored in post meta fields.

Does Amazon S3 plugin RETURN the S3 URL after upload? How can I get the S3 URL right away?

[2015-06-17 07:33] polevaultweb commented on #244
Once you upload an image via the media uploader, if you then edit the image the S3 URL is displayed.

[2015-06-17 11:57] mikejolley commented on #244
@polevaultweb what about with a call to `wp_handle_upload`?

[2015-06-17 12:09] polevaultweb commented on #244
Hi @mikejolley, if you are programatically doing the upload and you know the attachment ID of the newly created attachment, you would need to first update the meta data (to trigger our hooks) and then you can do something like this:

[code]

Out of curiosity, what is your use case for this?

[2015-06-17 13:03] mikejolley commented on #244
@polevaultweb  We have an 'file' type field in our custom forms which uploads the image via wp_handle_upload and then stores the URL to the resource as postmeta. We don't use attachments.

When the user enables the option to delete the local resource when its transferred to S3, this causes 404's as we stored the original URL.

[2015-06-17 15:13] thomascharbit opened #245 "File uploaded with same name if using "wp_handle_sideload" function"
If medias are uploaded using the media_handle_sideload function, the prefilter that checks if a file with same name already exists is not run, therefore file with same name are overwitten on amazon s3.

I think both wp_handle_upload_prefilter and wp_handle_sideload_prefilter filters should be used instead.

[2015-06-18 20:22] kara-todd commented on #221
@A5hleyRich were you able to confirm that the Meta Slider issue is related to this problem? Or is it indeed something we can pursue a fix for separately?

[2015-06-19 13:51] MasterRoot24 commented on #221
:+1: for me on this issue.

I would love some idea of when we can expect a release.

Thanks.

[2015-06-20 20:52] quinngoldwin commented on #94
please add this feature! I havent found a solution to host avatars or profile photos on buddypress on amazon s3.

This is huge because most of these managed wordpress hosting companies like wp-engine, pagely, and flywheel have restrictions on diskspace once they started providing SSD storage.

[2015-06-23 15:44] awall25 opened #246 "S3 Policy is Read-Only Error"
I've tried everything I can to get this setup and am completely stuck.

The user for the account has Administrator access and everything tests out in the policy simulator.

I can manually upload a file into the bucket and then view it on Cloudfront, but for whatever reason I can't get the plugin to work.

Any help would be much appreciated!

[2015-06-24 16:21] polevaultweb commented on #246
@awall25 are you using an IAM user? If so, can you post the policy you are using. Could you also post a screenshot of the settings screen for the plugin?

[2015-06-24 17:02] tkellen commented on #21
:+1:

[2015-06-24 17:02] MattSurabian commented on #21
Is master stable enough to run on if one wanted to use IAM roles now?

[2015-06-24 17:05] polevaultweb commented on #21
Not currently, but we are testing the latest release very shortly.

[2015-06-24 17:38] MattSurabian commented on #21
Sounds great, thanks for the quick reply! Looking forward to the latest release.

[2015-07-07 19:07] kara-todd commented on #221
@A5hleyRich Since there's no ETA on the release for this issue would you mind pointing where this issue centers around? Or the commit lines that address this issue? This is starting to become a thorn in the side of our client, and even if I have to duct tape something together for a bit I'd like to take a crack at it. :)

[2015-07-07 19:10] A5hleyRich commented on #221
@kara-todd the release is due this week, pending no further issues.

[2015-07-07 19:25] kara-todd commented on #221
@A5hleyRich awesome! :D Glad to hear it! Thanks

[2015-07-08 15:36] FlorianZy opened #247 "Not working anymore with current version of Amazon Webservices"
Hello,

I got the following Error after installing it by today.

"Amazon S3 and CloudFront has been disabled because it will not work with the version of the Amazon Web Services plugin installed. Amazon S3 and CloudFront 0.9 or later is required. Update Amazon S3 and CloudFront to the latest version
You can deactivate the Amazon S3 and CloudFront plugin to get rid of this notice."

Any Suggestions

[2015-07-08 15:39] polevaultweb commented on #247
@FlorianZy version 0.9 is being released very soon, apologies for this.

[2015-07-08 15:46] polevaultweb commented on #247
@FlorianZy you can manually fix that for now by editing line 28 of amazon-web-services.php and setting the version 0.9 back to 0.8.2

[2015-07-08 16:57] A5hleyRich commented on #247
@FlorianZy The update has been pushed.

[2015-07-08 16:57] #247 closed

[2015-07-09 03:29] gerikg opened #248 "US Standard shows blank image"
When you create a new bucket and pick US Standard as a location.  Then you upload an image to your Media section it comes up blank.

WordPress: 4.2.2
Web Server: Apache
PHP: 5.6.10
MySQL: 5.5.36-34.2-log
ext/mysqli: yes
WP Memory Limit: 128M
Blocked External HTTP Requests: None
WP Locale: en_US
Debug Mode: No
WP Max Upload Size: 128 MB
PHP Time Limit: 120
PHP Error Log: php_errorlog
fsockopen: Ena

[2015-07-09 07:22] polevaultweb commented on #248
Can you check a few things:

1. Have you got the 'Rewrite File URLs' turned on? If not, turn it on
1. Has the bucket been created
1. Does the file get created on S3

[2015-07-09 07:24] polevaultweb commented on #248
Did you delete some info from the diagnostic log by the way?

[2015-07-09 15:53] gerikg commented on #248
![image](https://cloud.githubusercontent.com/assets/8923164/8599767/f2fe350e-2627-11e5-8d6c-a48597d7478a.png)

Have you got the 'Rewrite File URLs' turned on? YES, it's been on.
Has the bucket been created? YES through your plugin, on Amazon too.
Does the file get created on S3? YES all sizes, like normal.
Did you delete some info from the diagnostic log by the way? YES

[2015-07-09 19:15] TiagoGouvea opened #249 "After save the bucket and options, it just go away"
After write the bucket name, and fill some options, I pressed "Save Changes" and it just back to the clear interface, with just the input asking me "Existing bucket name".
1) How can I know if it saved my data?
2) When will the plugin sync the files? I send a picture to gallery to check if it working and the file wasn't uploaded to s3. When it occurs?
Thanks

[2015-07-09 19:17] TiagoGouvea commented on #249
Checking the "diagnostic info", I saw that is save the bucket name, but don't save the other configurations that I made, like "Custom Path". Diagnostic:

site_url(): http://181.224.138.135/~phormar9
home_url(): http://181.224.138.135/~phormar9
Database Name: phormar9_newsite
Table Prefix: wp_
WordPress: 4.2.2
Web Server: Apache
PHP: 5.3.29
MySQL: 5.5.32-31.0-log
ext/mysqli: no
WP Memory Limit: 40M

[2015-07-10 08:07] A5hleyRich commented on #249
Are any errors logged to the console when saving the errors?

https://developer.chrome.com/devtools/docs/console#errors-and-warnings

Can you enable WP_DEBUG and WP_DEBUG_LOG to see if any errors are sent to the debug.log file?

https://codex.wordpress.org/Debugging_in_WordPress

[2015-07-10 09:09] carlgrundberg opened #250 "Copy back to local"
Did you remove the feature to copy the file back to the local machine?

The filter "as3cf_get_attached_file_copy_back_to_local" doesnt seem to exist in v0.9?

[2015-07-10 12:53] TiagoGouvea commented on #249
Sorry friend. After that I saw that all plugins was unable to save data...
I import the database again and all back to work.
Are a bug not related to your plugin.
Thanks for reply!

[2015-07-10 12:53] #249 closed

[2015-07-10 12:53] A5hleyRich commented on #249
Cheers for the heads up @TiagoGouvea

[2015-07-10 14:42] polevaultweb commented on #250
The feature still exists, but is implemented differently per plugin that needs the local file using the `as3cf_get_attached_file` filter. How were you using it?

[2015-07-10 14:46] carlgrundberg commented on #250
In the previous version (0.8.2) i could just return true in that filter and the s3 plugin downloaded the file.

I used it like this:
[code]

[2015-07-10 15:56] polevaultweb commented on #250
Apologies for not keeping that filter.

Take a look at the new plugin compatibility class, you should be able to do something like this filter and callback - https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/blob/master/classes/as3cf-plugin-compatibility.php#L58

[2015-07-13 09:41] carlgrundberg commented on #250
thanks!

[2015-07-14 19:27] ezekg opened #251 "Not uploading custom image sizes"
I have ~5 custom image sizes added with `add_image_size()`, and none of them seem to get stored on S3. Only the full size image gets stored. I've attempted to regenerate thumbnails, but nothing seems to be working.

As it is right now, I can't use this plugin because we use these sizes for responsive images. It would be great if somebody could help me solve this issue, because I would really like

[2015-07-14 20:00] polevaultweb commented on #251
Where are those `add_image_size()` being added, your theme or a plugin?

Can you paste the code, including surrounding function and hook so I can try to recreate please

[2015-07-14 20:21] ezekg commented on #251
Just in the theme's `functions.php` file.

[code]

Tried inside of the `after_setup_theme` as well. Everything works if I disable the plugin and regenerate the thumbnails, of course.

[2015-07-14 21:12] ezekg commented on #251
Sorry, after digging in more, this was an issue with not having `php-gd` installed, so no images were being generated at all. Closing the issue. For future reference (for anybody else), this can be resolved by installing via:

[code]

[2015-07-14 21:12] #251 closed

[2015-07-15 06:23] polevaultweb commented on #251
Thanks for the update @ezekg

[2015-07-15 13:45] ezekg commented on #251
Np. Sorry for the issue. Should have dug in deeper first. Is there an ETA on the pro version? Or is it still up in the air?

[2015-07-18 19:34] tomasdev commented on #144
:+1: Yes. Absolutely. Those static HTML served might be faster? I'm not 100% sure that a network request would win over a local SSD file request.

But might be worthy investigating.

Just think even with tens of thousands of htmls, the filesize of all those is quite trivial (specially gzipped) against image sizing.

[2015-07-18 20:04] tomasdev commented on #44
:+1:  I think this is partially done.

I think it was moving a couple old images in my case (or at least some that weren't in S3) and it had the warning "we're uploading in background every 10 mins... in small batches" but it disappeared before uploading all images (i have around 30k images)

[2015-07-20 07:33] A5hleyRich commented on #44
@tomasdev Those notices wouldn't have come from WP Offload S3, as this functionality it not part of the free plugin.

The only process performed in the background is the update of meta data, which does not upload any files to S3.

[2015-07-20 07:39] tomasdev commented on #44
@A5hleyRich then I found a bug hard to reproduce (I wasn't able to do that again) - it uploaded about 7-10 images

[2015-07-20 14:00] bradt commented on #144
Why use WP Super Cache + CloudFront? Why not just use CloudFront to cache and serve your content?

[2015-07-21 18:58] nitin-patil-cm opened #252 "Error fetching buckets: SyntaxError: Unexpected token N"
S3 and cloudFront plugin was working fine previously. but when i uploaded files by  pasting new offloadS3 plugin folder it's not working. I'm continuously getting "Error fetching buckets: SyntaxError: Unexpected token N" while creating new bucket and also browsing existing buckets.

![screenshot_1](https://cloud.githubusercontent.com/assets/13364306/8818131/cd8f545a-305a-11e5-8e74-54dd9ac532a7.png

[2015-07-22 13:02] A5hleyRich commented on #252
If you enable WP_DEBUG_LOGS https://codex.wordpress.org/WP_DEBUG#WP_DEBUG_LOG are any errors logged?

[2015-07-23 09:55] TittoProof opened #253 "Setting end-point"
hi, is possible to define different end-points?
actually it seem only default end points like s3.amazonaws.com is enabled, but i like to set up different endpoint.
Thanks

[2015-07-23 10:33] A5hleyRich commented on #253
You can't change the default endpoints but you can add a custom domain. If you create a CNAME within your DNS control panel that points to S3, you can use a subdomain like so:

http://cdn.domain.com

[2015-07-23 10:37] TittoProof commented on #253
Uhm interesting!...
and how i can setup a custom domain inside the plugin?
Thank you!

[2015-07-23 10:40] A5hleyRich commented on #253
![offload s3 site 1 wordpress](https://cloud.githubusercontent.com/assets/1422996/8848498/9c93dd64-312f-11e5-9072-3c7500148796.png)

[2015-07-23 10:42] TittoProof commented on #253
I've not this screen! maybe wrong version? I need to obtain pro version?

[2015-07-23 10:44] A5hleyRich commented on #253
No this functionality exists in the free version.

[2015-07-23 10:55] TittoProof commented on #253
![screenshot 2015-07-23 12 54 33](https://cloud.githubusercontent.com/assets/13465885/8848736/098f3972-313a-11e5-8ba9-a3889fb0963e.png)
I see this..... i can't create or select any bucket because my storage service is in other endpoint

[2015-07-23 10:56] A5hleyRich commented on #253
What do you mean by different storage provider?

[2015-07-23 10:58] TittoProof commented on #253
my storage provider is Seeweb (with endpoint seewebstorage.it) and not Amazon directly. Here my problem with this plugin...

[2015-07-23 11:03] A5hleyRich commented on #253
Does this service link to an S3 bucket?

[2015-07-23 11:05] TittoProof commented on #253
yes I think.... I can reach buckets using cyberduck and i can use it by JetS3t Java API... both with endpoint customized

[2015-07-23 11:17] A5hleyRich commented on #253
I'm not familiar with how Seeweb works, but if it's linked to an S3 bucket you should be able to select it within WP Offload S3 and then point the custom domain to seewebstorage.it.

However, as this is a non-default setup we can't provided further support.

[2015-07-23 11:17] #253 closed

[2015-07-23 11:18] TittoProof commented on #253
thank you

[2015-07-25 11:26] elyobo opened #255 "Incorrect Handling of WP Subdirectory Install on Legacy Multisite"
I have a multisite installation with wordpress installed in a wp/ subdirectory.  The installation was upgraded from an old WP version (pre WP 3.5).

The plugin ends pushing files up to S3 with the full directory structure of the site (e.g. /var/www/whatever) as part of the S3 URL.  This looks to be due to differences between wp_upload_dir(), which has a lot of logic specific to multisite upload pa

[2015-07-25 12:54] elyobo commented on #255
Fix as suggested above in #256.

[2015-07-27 11:31] polevaultweb commented on #252
@nitin-patil-cm did [this](https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/issues/252#issuecomment-123712994) show any errors?

[2015-07-27 11:37] polevaultweb commented on #248
@gerikg if you inspect the broken image, what is the URL of the img src?

[2015-07-27 11:38] polevaultweb commented on #245
Thanks for the heads up, we will be addressing this in a later release

[2015-07-27 11:40] #230 closed

[2015-07-27 11:41] polevaultweb commented on #236
@simplyianm is this still happening on the latest version 0.9?

[2015-07-27 11:41] polevaultweb commented on #240
Thanks for the heads up, we will be addressing this in a later release

[2015-07-27 11:42] #234 closed

[2015-07-27 11:44] nitin-patil-cm commented on #252
It was due to NAT instance, it was not well configured in my case. But the issue was WordPress server was not connected to internet and hence it was showing "Unexpected Token N"

[2015-07-27 11:44] #252 closed

[2015-07-27 11:46] polevaultweb commented on #252
@nitin-patil-cm Thanks for the update

[2015-07-27 11:51] polevaultweb commented on #221
This was fixed as of 0.9

[2015-07-27 11:51] #221 closed

[2015-07-27 11:53] polevaultweb commented on #255
@elyobo could you post some of your MS and custom upload constants from `wp-config.php` so I can try to recreate?

What version of MS was this originally? Has it been upgraded to the latest WP 4.2.3?

[2015-07-27 12:08] gerikg commented on #248
Hey sorry I've been traveling.  If I have time I'll adjust it back.  I had
to move forward for a client.
On Jul 27, 2015 6:37 AM, "Iain Poulson" <notifications@github.com> wrote:

[2015-07-27 13:22] elyobo commented on #255
@polevaultweb thanks for your response.

The original version was ancient, I'm not sure what; it has recently been upgraded from a reasonably low number 3.x series to 4.2.3, just to keep it ticking over.

It doesn't have a custom UPLOADS constant, but when a new multisite blog is created an upload_path is set, which triggers the problem.  The upload_path option is set to "wp-content/blogs.dir/2/fi

[2015-07-27 14:26] #248 closed

[2015-07-27 16:26] elyobo commented on #255
Creating a new blog in the same multisite installation suffers from the same problem; the upload_path is set in the same way (e.g. wp-content/blogs.dir/my-blog-id/files).

I also notice that the documentation for [wp_upload_dir](https://core.trac.wordpress.org/browser/tags/4.2.2/src/wp-includes/functions.php#L1693) (which your code seems to be heavily based on) is a little inconsistent with the im

[2015-07-27 16:59] darrenwwilliams opened #257 "Patch to make "Same as request" work for SSL and non SSL sites using relative URL's"
In `get_url_preview` lines 339-344 use this:

[code]

And in `get_attachment_url`

lines 1124 to 1129:

[code]

[2015-07-27 17:07] polevaultweb commented on #257
@darrenwwilliams what version of the plugin are you using? As of 0.9, we have consolidated the SSL code to https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/blob/master/classes/amazon-s3-and-cloudfront.php#L924

[2015-07-27 17:13] darrenwwilliams commented on #257
Using the latest version, and yes I saw this code. The problem is that it does not seem to inherit the request type correctly using this technique on sites with mixed SSL/Non SSL (for example when you have an online store) and with the global option:

define('FORCE_SSL_ADMIN', true);

Relative URL’s using this technique let Wordpress decide the protocol to server instead and makes sure that your S

[2015-07-28 20:37] mrbm opened #258 "Editing on image not working on newly fresh wordpress set up. No plugins added"
Just spun up a new digital ocean wordpress droplet, have 0 other plugins enabled accept Amazon Web Services and WP Offload S3

Seems to work great except when I got edit the image it shows a missing image.

If I inspect the missing image, the file path is:

/wp-admin/admin-ajax.php?action=imgedit-preview&_ajax_nonce=e5aa67e277&postid=34&rand=69888

Which when I put into a url of browser with domai

[2015-07-29 05:59] mrbm commented on #258
built another server in NGINX...and it works...so....I am wondering if you guys are testing are testing with apache....there might be an issue with the apache worth reviewing.

[2015-07-29 07:25] A5hleyRich commented on #258
Yes we test on Apache and it works fine. Does editing an image work with the plugin disabled?

Does enabling WP_DEBUG show an error?

[2015-07-29 22:59] mrbm commented on #258
yes editing without the plugin enabled works if the image was uploaded.

WP_DEBUG does not show an error. In my production server i use nginx so I don't really care about apache...but I have this vps spun up, would you like access to it before I kill it. Maybe it could help, perhaps there is a requirement that needs to be noted in the instructions that you aren't aware of at the moment. Let me kno

[2015-07-30 06:11] elyobo commented on #255
After digging around more, this only seems to affect multisite installs that have been upgraded from pre-3.5 multisite.  A recent install of multisite is fine (doesn't set upload_path), and recent non-multisite is fine even when an upload_path or UPLOADS constant is set.

So this appears to affect only multisite installations, with WP in a subdirectory, that have been upgraded from an old WP versi

[2015-07-30 07:20] elyobo commented on #255
@polevaultweb It looks like the problem is due to differences between your base upload plugin path detection (which doesn't have any extra logic for legay multisite handling) vs wp_upload_dir (which does).  I've cancelled my PR, which seems inappropriate now, and updated the original description.

A less than ideal but still helpful fix would probably be to add a filter that allows us to hook in a

[2015-07-30 07:37] A5hleyRich commented on #258
If you don't mind giving us access that would be appreciated. Could you send the login details to nom[ at ]deliciousbrains.com

[2015-07-30 09:20] elyobo commented on #255
Along those lines, I have been able to work around this issue by adding my own filter to upload_dir to modify the 'path' field so that it contains the same structure as is returned by Amazon_S3_And_CloudFront::get_base_upload_path().

Code is something along the lines of the following.  It should disable itself automatically if the backwards compatibility issue is fixed.  Note that, because the up

[2015-07-30 10:22] AlexeyDemidov opened #259 "Incorrect information about minimal WP version required"
In readme it states that minimal Wordpress version required is 3.5 but actually it requires at least version 3.7 as it uses function wp_get_sites which was introduced in 3.7 according to documentation https://codex.wordpress.org/Function_Reference/wp_get_sites

[2015-07-30 10:23] A5hleyRich commented on #259
Thanks for the heads up @AlexeyDemidov. We'll get that amended.

[2015-07-30 11:21] polevaultweb commented on #259
@AlexeyDemidov of course we recommend using the most up to date version of WordPress as best practice :smile:

[2015-07-30 14:21] mrbm commented on #258
Happy to help, I'll send you an email right now.

[2015-07-30 14:39] A5hleyRich commented on #258
Credentials received. I'll take a look this evening.

Cheers!

[2015-07-30 16:07] mrbm opened #260 "Debugging an error between your plugin and WPMU Dev Upfront Spirit Theme"
Been playing with this front-end editing capable theme:

http://premium.wpmudev.org/project/spirit/
http://demo.upfront.pro/spirit/?editmode=true (demo of it in use)

Trying to figure out where the problem is. I remember there was an issue with your plugin before version 0.9 that made the background image feature when customizing a theme break. Version .9 fixed it!

Wondering if a similar modifica

[2015-07-31 13:13] A5hleyRich commented on #258
Issue due to not having the php5-gd module installed.

[2015-07-31 13:13] #258 closed

[2015-08-01 00:40] mrbm commented on #258
Thanks ashley. So the amazon webservices plugin does a check for the cURL library. Perhaps an error message stating the php5-gd library is not installed would be good place where the broken image is. Thoughts?

[2015-08-01 09:08] A5hleyRich commented on #258
I'm not sure this check is required. The php5-gd library is a requirement of WordPress core in order to use the image editing functionality. If you disable WP Offload S3 you still wouldn't be able to use the image editor.

[2015-08-05 07:18] shreychaturvedi123 opened #261 "The path in url gets some random suffix value"
Hi The url preview i am getting is
http://propguide.s3‑ap‑southeast‑1.amazonaws.com/2015/08/05124231/photo.jpg
but it should be http://propguide.s3‑ap‑southeast‑1.amazonaws.com/2015/08/photo.jpg

why it is appending 05124231 or random path in url, is there any way i can disable it?

[2015-08-05 07:38] ianmjones commented on #261
@shreychaturvedi123 That random number (which isn't actually random by the way) is added to the path when you have Object Versioning turned on (it's on by default). If you look in your settings you'll see a slider you can switch to "Off" and then save the settings if you don't need this feature.

It's worth reading the info that is linked to near the setting before turning it off though, it's quit

[2015-08-05 07:38] #261 closed

[2015-08-05 07:45] shreychaturvedi123 commented on #261
Thanks

On Wed, Aug 5, 2015 at 1:08 PM, Ian M. Jones <notifications@github.com>
wrote:

[2015-08-05 23:38] MarcWoodyard opened #262 "Uploads to S3 Don't Show as Storage Used"
I have WP Offload S3 and Amazon s3 and CloudFront plugins network activated on my multisite network. I'm able to upload, edit, and delete files. But my upload quota stays at 0.00 MB no matter how much I upload. Is this normal?

[2015-08-06 07:51] polevaultweb commented on #262
Hi @ModMarc this is being fixed for a future release

[2015-08-06 15:15] ModMarc commented on #262
Glad to hear. Thanks

-----Original Message-----
From: "Iain Poulson" <notifications@github.com>
Sent: ‎8/‎6/‎2015 3:51 AM
To: "deliciousbrains/wp-amazon-s3-and-cloudfront" <wp-amazon-s3-and-cloudfront@noreply.github.com>
Cc: "Marc" <woodyardmarc00@gmail.com>
Subject: Re: [wp-amazon-s3-and-cloudfront] Uploads to S3 Don't Show as StorageUsed  (#262)

Hi @ModMarc this is being fixed for a future rel

[2015-08-07 13:25] nerrad opened #263 "Setting a header image via the customizer fails"
Recently we started seeing this happen:

1. Open customizer, select header pane, click to add image.
2. Upload image, success!
3. Next step is to select and apply crop.  Get the usual fail response from WP.

Here's a screenshot of the error (not useful but provides context)

https://www.evernote.com/l/AAMMyKMUEGdKSrqKNfajtd6U75yV_VIkcNMB/image.png

In the network tab of developer tools (chrome) th

[2015-08-07 13:27] nerrad commented on #263
Oh, and want to add, that cropping, editing images via the normal media routes works fine.  It's just the customizer header where we are having problems.

[2015-08-08 00:31] treyrich2001 commented on #171
@polevaultweb what's the status on this request? I was about to implement this functionality as an addon plugin, but I'm wondering if this is something that you're looking to integrate into the core plugin soon?

[2015-08-08 21:48] sandys opened #264 "upload directly to s3"
hi guys,
can you incorporate the upload-directly-to-s3 feature as well?

It's just a few lines of code using the Amazon S3 SDK for PHP .. for example this: https://www.designedbyaturtle.co.uk/2015/direct-upload-to-s3-using-aws-signature-v4-php/ (and for the CORS policy ... https://www.designedbyaturtle.co.uk/2013/direct-upload-to-s3-with-a-little-help-from-jquery/ )

I not sure what  further compl

[2015-08-08 21:52] sandys commented on #44
running `aws s3 --profile YOUR_PROFILE_NAME_HERE sync /path/to/your/local/content s3://YOUR_BUCKET_NAME_HERE --cache-control "max-age=315576000"` works very well to upload existing images to s3. I typically upload the entire `wp-content` directory to  `<MY_BUCKET>/wp_content`

is there a way to rewrite the image paths in the database to use the new route ?

I know there is a way to use .htaccess

[2015-08-09 10:03] polevaultweb commented on #44
Existing image upload is coming in the Pro version, which is being released soon. The CLI method doesn't connect the attachment metadata with the S3 upload so URL rewriting isn't possible with the plugin as is.

[2015-08-09 13:09] polevaultweb commented on #264
Thanks @sandys, it is on our radar but no timescales as yet

[2015-08-09 13:11] polevaultweb commented on #263
@nerrad could you post the diagnostic log from the support tab please, so I can try to recreate

[2015-08-09 13:14] polevaultweb commented on #263
@nerrad no worries, managed to recreate :) Working on a fix...

[2015-08-12 01:55] altimea opened #265 "Error fetching buckets — Internal Server Error"

[2015-08-12 06:05] polevaultweb commented on #265
@altimea Can you try editing your wp-config.php file to replace this line -

`define( 'WP_DEBUG', false );`

With these lines -

[code]

This means that any errors are logged to `/wp-content/debug.log', because some errors are not visible on screen. Can you then try the process again and then post the debug.log?

More details about that at http://codex.wordpress.org/Editing_wp-config.php#Debug

[2015-08-12 06:17] winnie-nz opened #266 "Does not work with Nginx!"
I currently use Nginx Vps running on easyengine.
i cant get s3offload working on it

do you know what i should do ? to make it working on nginx ?
i dont know how to access config files on nginx either to test .?
will be great if you could help
thankj you

[2015-08-12 07:36] A5hleyRich commented on #266
WP Offload S3 is tested on Nginx, so this is more than likely a config issue. Please can you be more specific as to what exactly isn't working?

Can you try editing your wp-config.php file to replace this line -

define( 'WP_DEBUG', false );

With these lines -

define('WP_DEBUG', true);
define('WP_DEBUG_LOG', true);
define('WP_DEBUG_DISPLAY', false);
This means that any errors are logged to `/wp-

[2015-08-12 17:14] MattyLB commented on #266
I have the same problems on my EC2 server setup with nginx via easy engine
and the URL rewrites to s3 do not work.

I'll try the debug log when I'm near my computer, but it might be worth
your group creating a test site using EE from rtcamp.com and you'll see
what we mean.

Most likely it's in how the nginx or fast cache config defines rewrites or
caching.

On Wednesday, August 12, 2015, winnie-nz

[2015-08-13 00:03] winnie-nz commented on #266
hi thank you for your update please let me know if your able to solve this
problem .
of using easy engine with s3 offload.

i also wanted to know how i can access wordpress sub directories in ee to
access wp-content or some php file .
i am new to nginx vps and ee all together .
thank you very much

On Thu, Aug 13, 2015 at 5:14 AM, MattyLB <notifications@github.com> wrote:

[2015-08-13 08:16] A5hleyRich commented on #266
I've tested this with EasyEngine and everything works as expected. All rewrites are performed at a PHP level, therefore using Nginx should have no adverse effects.

As mentioned above, please could you provide the diagnostic information found under the support tab.

Could you also take a look at this WordPress thread, which is the only issue we are currently aware of that results in broken images:

[2015-08-13 14:28] MattyLB commented on #265
I've added these lines on my EasyEngine created site and it's not logging
anything. One thing about easyengine is that it moves the wp-config.php
file to a secure location outside of the served folders, so this may have
something to do with it not logging debug information.

I'll send admin credentials asap so you can look into this from the WP
back-end, but I doubt there is much you can do from m

[2015-08-14 09:31] ixalon opened #267 "Compatability with aws-sdk-php v3.2.1"
We're using aws-sdk-php v3.2.1 in our own in-house plugins (bought in using composer). Unfortunately using this version appears to clash with amazon-s3-and-cloudfront. With our plugin(s) enabled, we see the following error when trying to list or create buckets:

`Error fetching buckets — Missing required client configuration options: region: (string) A "region" configuration value is required for

[2015-08-17 13:06] toneby commented on #267
I have the same problem with aws-sdk-php version 3.2.6. I added the changes Ixalon already have added but for some reason it was not enough, and I don't have time to debug :(. But my temporary fix was to hard code the region in lots of places. Not a future proof solution, but hopefully it will work as expected in the next release.

[2015-08-17 13:54] A5hleyRich commented on #267
How are you including the AWS SDK for use with WP Offload S3? Plus, is there any specific features you're using from the 3.* release?

[2015-08-17 22:54] nerrad commented on #263
hey @polevaultweb would you be able to point me to the commit that resolved this?

[2015-08-18 02:02] nerrad commented on #263
or is this something that is fixed in the PRO version?

[2015-08-18 06:37] polevaultweb commented on #263
hi @nerrad. the version of Offload S3 0.9.3 that has just been released was a tiny release for the Pro version, we have been working on 0.9.4 which has the fix for your issue and is coming soon.

[2015-08-18 15:12] scampiuk opened #268 "trying to 'Edit Original' image in a post shows wrong image url when 'Remove Files From Server' is enalbed"
The image url being used when going to Post -> Edit -> Selecting Image -> Edit -> Edit Original  is calling the url

/wp-admin/admin-ajax.php?action=imgedit-preview&amp;_ajax_nonce=631e7b41c2&amp;postid=2244&amp;rand=42758

which is returning a HTTP status code of 200, but returning "-1" rather than the image, thus breaking the edit page.

![step-1](https://cloud.githubusercontent.com/assets/14966

[2015-08-18 15:51] polevaultweb commented on #268
@scampiuk could you post your diagnostic info from the support tab in the plugin settings please?

[2015-08-18 16:30] scampiuk commented on #268
See below, domains/details changed to protect, well, me :)

[code]

[2015-08-18 16:31] polevaultweb commented on #268
@scampiuk thanks, I will investigate :)

[2015-08-19 00:56] kara-todd commented on #221
@polevaultweb I'm still seeing this issue when using GD Image. The following error is thrown:

`PHP Warning:  fopen('[...]'): failed to open stream: HTTP wrapper does not support writeable connections in /wp-includes/class-wp-image-editor.php on line 427` and the image binary is printed to the screen.

With ImageMagick `make_image` is called inside a try-catch block and the exception is caught, bu

[2015-08-19 07:28] toneby commented on #267
I'm simply using it to fetch a tag so nothing special at all, so it would be possible to downgrade to whatever you recommend I suppose, although I would prefer not to have to fiddle with it more than necessary.

I include it using composer.json and let AWS take care of the installation on the EB instances. My composer looks like this:
[code]

I updated to the latest version (0.9.3) just now so I'l

[2015-08-19 08:24] polevaultweb commented on #221
@kara-todd which plugins are you using so I can recreate?

[2015-08-19 14:51] polevaultweb commented on #268
@scampiuk unfortunately I can't seem to recreate with 0.9.3. Can you see if there are any browser console errors.

Also can you try editing your wp-config.php file to replace this line -

'define( 'WP_DEBUG', false );'

With these lines -

[code]

This means that any errors are logged to `/wp-content/debug.log', because some errors are not visible on screen.
​
​Can you try the process again and th

[2015-08-19 20:32] FranciscoCG opened #269 "Error fetching buckets — SyntaxError: JSON Parse error: Unexpected identifier "Warning""
When clic Browse existing buckets,  enter it manually, or create a new one, got this error.

AWS credentials verified, I deactivated all plugins. but I got the same error.

site_url(): http://test.eshops.cl/beta
home_url(): http://test.eshops.cl/beta
Database Name: ********
Table Prefix: wp_
WordPress: 4.2.4
Web Server: Apache/2.4.7 (Ubuntu) PHP/5.5.9-1ubuntu4.11
PHP: 5.5.9-1ubuntu4.11
MySQL: 5.5.

[2015-08-19 21:43] kara-todd commented on #221
@polevaultweb We are using [Metaslider](https://wordpress.org/plugins/ml-slider/) (with SmartCrop) and [OTF Regenerate Thumbnails](https://wordpress.org/plugins/otf-regenerate-thumbnails/)

[2015-08-20 07:12] polevaultweb commented on #221
@kara-todd thanks for that, I've raised an issue on our internal repo to investigate.

[2015-08-20 07:18] A5hleyRich commented on #269
The 'Unexpected identifier "Warning"' suggests that PHP is issuing a warning, which is being prepended to our AJAX requests.

If you disable the display of debug messages does this issue go away? Replace:

[code]

With:

[code]

The debug.log file will also show what's causing the issue.

[2015-08-20 13:45] toneby commented on #267
I've just downgraded to 2.8.3 (that seems to be what you are using) and I'm still seeing the same error message. So somehow, for some reason Elastic Beanstalk manages to get v3 of the SDK. I have no idea as to how to solve this. I've also made sure that the versions of amazon-s3-and-cloudfront and amazon-web-services are the latest and unchanged by me.

/Peter

[2015-08-20 14:02] ixalon commented on #267
For me, v3 of the SDK is being bought into the php runtime by a wordpress plugin we've built ourselves. It too has a composer.json, containing:
[code]
Our CI environment runs composer and builds a .zip of the plugin for internal distribution containing all our code, autoload.php and all dependencies.

If Wordpress includes our plugin before yours then the PHP classes get defined from the V3 instal

[2015-08-21 11:41] scampiuk commented on #268
Hi,

Only thing going into that are warnings about one of our plugins, nothing warning or fatal.   Same with the PHP error log.  Attached anyway (again, paths replaced)

I'll have a go at debugging it myself later on, see if I can find something.

Thanks,

C -.

[code]

[2015-08-21 14:53] scampiuk commented on #268
Playing around, I don't think _wp_image_editor_choose is choosing an editor for me - it's being passed all the right params but not choosing an implementation.  I'll continue digging.

[2015-08-21 15:00] scampiuk commented on #268
Installing GD helps :(

Thanks for help anyway, should have checked the basics.  Can I recommend that you add a check for GD / Imagik into  your debug?

Thanks again,

[2015-08-22 18:02] polevaultweb commented on #268
Thanks for the update @scampiuk, glad you sorted it. I will raise the question about alerting to the lack of GD / Imagik.

[2015-08-22 18:02] #268 closed

[2015-08-24 11:43] toneby commented on #267
I just found the reason for my problems. The configuration stored in the database by WP contained the above error as the value for "region".
To check for that do the following:
Connect to you database and run the following query:
`select * from wpp_options where option_name='tantan_wordpress_s3'`
if the string returned contains the above error simply do a:
`delete from wpp_options where option_nam

[2015-08-27 23:14] Endda opened #271 "Fatal error: Cannot use object of type WP_Error as array"
I just applied the update to all three of my websites and it has broken all three of them. Images can not be uploaded to WordPress and offloaded to Amazon as it returns the following error. . .

"Fatal error: Cannot use object of type WP_Error as array in /homepages/31/d584948166/htdocs/testappstoreapps/wp-includes/media.php on line 196"

When the plugin is first updated, the media library is view

[2015-08-27 23:14] Endda commented on #271
I have even tried to downgrade to a backup version(the one just before this new one) and while it does allow images to be uploaded, the media library is still not viewable

[2015-08-28 00:49] Endda commented on #271
Restoring from a complete backup(website and database) from 2 days ago resolves the error as long as I don't update the plugin

[2015-08-28 07:12] A5hleyRich commented on #271
Please can you provide your diagnostic information found from within the support tab?

[2015-08-28 10:02] phpbits commented on #271
Any fix?? I'm having the same error!

Thanks!

[2015-08-28 10:27] A5hleyRich commented on #271
@phpbits I'm currently not able to replicate this issue. Can you send me your diagnostic information from the support tab?

[2015-08-28 10:34] thomascharbit opened #272 "PHP memory exhausted after 0.9.4 update"
Hi,

Since updating to 0.9.4 admin is unreachable, having PHP memory errors.

It seems to be related to AS3CF_Upgrade_File_Sizes, when i comment it from Amazon_S3_And_CloudFront::init it works again.

For info I have more than 100,000 medias in library, all removed from the local server.

Anyway to fix this?

[2015-08-28 10:37] A5hleyRich commented on #272
What's your WP_MEMORY limit currently set to?

[2015-08-28 10:40] FreshFlesh commented on #272
128Mb.

I guess loading all attachments at once from DB leads to memory exhaustion

[2015-08-28 10:53] A5hleyRich commented on #272
Is this a multisite install? If so, how many blogs do you have?

Can you try increasing the WP_MEMORY_LIMIT to 256?

[2015-08-28 11:10] FreshFlesh commented on #272
No multisite, i raised the PHP limit to 256M and got same error:

[2015-08-28 11:40] FreshFlesh commented on #272
The issue seems to come from the foreach loop in `get_attachments_removed_from_server`.

[code]

If i remove it and simply sets `$attachments = $all_attachments;` it works.

Can 115,000 `file_exists()` calls in a row be a problem?

[2015-08-28 12:09] A5hleyRich commented on #272
Yep, you are right, we need to limit the amount of calls. If you change:

`$all_attachments = $this->get_s3_attachments( $prefix, $limit );`

to:

`$all_attachments = $this->get_s3_attachments( $prefix, 1000 );`

Does it resolve the issue?

[2015-08-28 12:44] FreshFlesh commented on #272
Yes, it works.

[2015-08-28 12:47] A5hleyRich commented on #272
Thanks for your assistance on this, I'll get a patch put together.

In the meantime if you leave the limit to `1000` it should allow the upgrade routine to run.

[2015-08-28 12:51] FreshFlesh commented on #272
Thank YOU for your help, i will wait for the patch to deploy to our production server.

[2015-08-28 13:01] Endda commented on #271
site_url(): http://www.appstoreapps.com
home_url(): http://www.appstoreapps.com
Database Name: db587137082
Table Prefix: wp_
WordPress: 4.3
Web Server: Apache
PHP: 5.5.28
MySQL: 5.5.44-0+deb7u1
ext/mysqli: yes
WP Memory Limit: 64M
Blocked External HTTP Requests: None
WP Locale: en_US
Debug Mode: No
WP Max Upload Size: 8 MB
PHP Time Limit: 50000
PHP Error Log:
fsockopen: Enabled
OpenSSL: OpenSSL 0.

[2015-08-28 19:33] davidhealey commented on #271
I'm experiencing a similar problem with the latest version. I can upload media files just fine but when I go to the media library in WP the little dial just keeps going around but it never displays the media items. If I filter by image then it will display images but with the audio filter (the only other media type I have on my site) doesn't display anything.

[2015-08-28 19:37] JackSW commented on #271
I am also having this issue. I can see that the metadata is messed up for all images that have been uploaded using the latest plugin version. Example row from database
 26130 |   13460 | _wp_attachment_metadata | O:8:"WP_Error":2:{s:6:"errors";a:1:{s:9:"exception";a:1:{i:0;s:93:"File /srv/www/bbwordpress/current/wp-content/uploads/2015/08/orange-781119.png does not exist";}}s:10:"error_data";a:0:{

[2015-08-30 02:23] Endda commented on #271
Okay, as a workaround to this error, I had to revert back to the old version of the 'amazon-s3-and-cloudfront' plugin. Then, I had to dive into phpmyadmin, head into the postmeta table and sort by post id. Making it so that it showed all of the newer entries in this table. Then I looked at all entries for the error that has been talked about here(the wp_error).

Any post id entry that shared the s

[2015-08-30 03:04] hickham commented on #271
Same problem here!
Fatal error: Cannot use object of type WP_Error as array in /var/www/arquidicas.com.br/htdocs/wp-includes/media.php on line 196 =/

Any solution?

[2015-08-30 08:29] polevaultweb commented on #271
We are working on a fix for this and will release shortly. So we can cover all bases, @hickham @JackSW  @davidhealey @phpbits could you post your diagnostic info please?

[2015-08-30 12:05] davidhealey commented on #271
### WordPress Environment ###

Home URL: http://xtant-audio.com
Site URL: http://xtant-audio.com/wordpress
WC Version: 2.4.6
Log Directory Writable: ✔  /var/www/vhosts/xtant-audio.com/httpdocs/wordpress/wp-content/uploads/wc-logs/
WP Version: 4.3
WP Multisite: –
WP Memory Limit: 40 MB - We recommend setting memory to at least 64MB. See: Increasing memory allocated to PHP
WP Debug Mode: –
Language:

[2015-08-30 19:00] modalia commented on #271
Hello, since I've updated the plugin have a similar problem:

Fatal error: Cannot use object of type WP_Error as array in /var/www/html/wp-content/plugins/amazon-s3-and-cloudfront/classes/amazon-s3-and-cloudfront.php on line 1171

![de compras el comparador de moda de modalia es](https://cloud.githubusercontent.com/assets/14043881/9568925/90688664-4f59-11e5-9d34-97f0bd55ab43.png)
![productos compr

[2015-08-31 11:53] phpbits commented on #271
Hi,

Any fix available yet?

[2015-09-01 09:03] polevaultweb commented on #271
The fix for this has just been released as 0.9.5, let us know how that goes and thanks for your patience.

[2015-09-01 16:00] modalia commented on #271
Hello, I updated the plugin and fixed the error: WP_Error array as in .... wp-includes / media.php on line 196.

But now, some products give me this error: Fatal error: Can not use object of type WP_Error as array in / var / www / html / wp-content / plugins / amazon-s3-and-CloudFront / classes / amazon-s3-and -cloudfront.php on line 1159

I have commented the lines 1159-1165.

These are:

// We o

[2015-09-01 19:35] nerrad opened #273 "Related to #263 - initial crop results in broken image for customizer header controls"
The work done in #263 fixes the ability to get back the cropping stage when using the customizer header feature of WordPress.  However after the initial cropping action, the displayed selected header in the customizer control and the preview is broken (using the path to the image on the server which is no longer present).

Here's a short screencast demonstrating: https://monosnap.com/file/osf9CcGT

[2015-09-01 23:54] tallgirltexas commented on #271
I am having the same issues with the media library and have submitted a help ticket through the plugin page on my website.

I was sent a notification that there was an update, which I did apply and now I can upload images through the media uploader, but I still cannot see images in thumbnail view and the only images I can see are the ones I just uploaded. (see image 1)
![1](https://cloud.githubuse

[2015-09-02 07:38] A5hleyRich commented on #273
This is an issue with WordPress core. We're submitted a patch to get this fixed but it can take some time to get them approved.

https://core.trac.wordpress.org/ticket/33319

[2015-09-02 10:49] FreshFlesh commented on #272
Any update for the patch?

[2015-09-02 12:07] nerrad commented on #273
Yeah I figured.  I had done some preliminary investigation to see if I could implement a fix but noticed the same thing.  Was hoping you folks were aware of another method to get around that static url that I wasn't.  Nice to know about the trac ticket tho, I'll keep it on my radar.

[2015-09-08 14:36] FreshFlesh commented on #272
Hi @A5hleyRich, do you know when a patch will be available? Thanks!

[2015-09-08 17:31] nikhilgoyal opened #276 "Conflict With "Pay with Amazon" Plugin"
I believe I have found a conflict with Pay with Amazon Plugin, which renders this addon unable to use. Any image uploaded would be uploaded to the server but not S3.

*What I found on Add-on Setting Page:*
![Error Message]
(https://cloud.githubusercontent.com/assets/684105/9741861/757a808c-567a-11e5-91ec-750e5f102fda.png)

Then I investigated further, turned on wordpress debugging and tailed the l

[2015-09-15 14:57] nerrad commented on #273
Hey just a heads up that it looks like @polevaultweb 's patch got committed to WP core for WP4.4 :)

[2015-09-15 15:00] A5hleyRich commented on #273
:tada:

[2015-09-15 17:28] polevaultweb commented on #273
hey, thanks for the pushing on that ticket @nerrad!

[2015-09-15 17:29] nerrad commented on #273
Thanks for setting it up for easier pushing :)

[2015-09-15 22:53] nerrad opened #277 "Related to #263 - new customizer site icon feature added to WP4.3 broken"
I imagine the fix for this will be the same as what was done in issue #263.

[2015-09-15 23:08] nerrad commented on #277
I'm working on a pull request for this.

[2015-09-21 22:05] espellcaste commented on #266
Just to reinforce, I'm using the plugin on Nginx without any problem. Working normally.

[2015-09-21 23:42] winnie-nz commented on #266
thank you for all your updates i tired this plugin but was not able to get
s3 with cloudfront working so i tried another one which does the same job
but i had to make some changed in nginx config file and after that i was
able to use it as well
i will test this plugin again and see if i could use it with nginx via
easyengine on ubuntu
my website which is working fine right now with nginx with cdn

[2015-09-22 07:19] A5hleyRich commented on #266
Thanks for the updates. I would be interested in knowing what Nginx directives you've changed if you get chance to test WP Offload S3 again.

[2015-09-22 07:52] winnie-nz commented on #266
for now i am not using s3 offload plugin as i tired it and it did not work
so i tried this one its called "tcS3 " which also did not work so i asked a
developed what to do with nginx server running easyengine he asked me to do
the below and it was working fine

this is on ubuntu running easyengine ie nginx

/var/www/mywebsite/conf/nginx/

This can be done by using the following command:

nano /var

[2015-09-24 11:24] polevaultweb commented on #276
I will raise this with the team for investigation

[2015-09-24 11:28] polevaultweb commented on #272
Our patch is a little way off at the moment, so I recommend manually patching it on your prod site for speed.

[2015-09-24 11:28] polevaultweb commented on #271
Fixed in 0.9.5

[2015-09-24 11:28] #271 closed

[2015-09-24 11:29] polevaultweb commented on #269
@FranciscoCG is this still happening? Did you add the code to generate the debug log?

[2015-09-25 09:08] yesinternet opened #279 "Compatibility with WPML - Image URL not updated correctly for other languages"
Hello

I am using Wordpress, WPML (incl. WPML Media translation plugin) and Offload S3 Free, all latest versions. I also have made all necesary configuraiton for Offload S3 (using custom CNAME method).

When I upload an image to the Media library, the image is properly uploaded to S3 and after upload, it is porperly shown to the MEdia Manager with correct S3 URL

However, when I switch to other la

[2015-09-25 09:32] polevaultweb commented on #279
Hi @yesinternet, we have been working on this recently and will be releasing compatibilty with WPML / WPML media soon.

[2015-09-25 09:34] yesinternet commented on #279
Ok, this is great.
Looking forward.
Thanks

[2015-09-25 09:34] #279 closed

[2015-09-29 06:37] nikhilgoyal commented on #276
@polevaultweb Thanks. I can share the Pay With Amazon plugin if you wish.

[2015-09-29 09:13] polevaultweb commented on #276
@nikhilgoyal No need thank you. We will look to add different constant names in the future, but in the short term you can add access to S3 for the IAM user you are using for the Amazon Pay plugin

[2015-10-05 23:44] thisisbbc opened #280 "InvalidAccessKeyID"
Hi,

I'm not sure how this could be related to the recent plugin update but I've started to get InvalidAccessKeyID errors all over the place (Error 403 Forbidden). Amazon seems to say "The AWS Access Key Id you provided does not exist in our records." but I have verified and they do exist. I recreated the Access Key just in case but it still doesn't change anything.

The problem may come from Amaz

[2015-10-05 23:45] thisisbbc commented on #280
Not sure why I wasn't able to attach the diagnostic file but here you go :

site_url(): http://nationhats.staging.wpengine.com
home_url(): http://nationhats.staging.wpengine.com
Database Name: snapshot_nationhats
Table Prefix: wp_
WordPress: 4.3.1
Web Server: Apache
PHP: 5.5.9-1ubuntu4.11
MySQL: 5.6.25-73.1-log
ext/mysqli: yes
WP Memory Limit: 256M
Blocked External HTTP Requests: None
WP Locale: e

[2015-10-06 13:34] Grendel61 opened #281 "Buddypress Avatars and Cover Photos"
Hi,

Moving Buddypress custom profile and group avatars as well as profile and group cover photos is going to be important this year. In the next release or two you’ll be able to upload those multi-part files from IOS that have a little motion in them. Getting some of these more static files off the server and into S3 or another solution are going to be important.

I’d like to suggest you take a n

[2015-10-06 18:02] polevaultweb commented on #281
@Grendel61 we will certainly add it to the todo list :)

[2015-10-06 19:17] thisisbbc commented on #280
The problem seems to have resolved by itself... Pretty strange.

[2015-10-06 19:17] #280 closed

[2015-10-07 12:49] dskvr commented on #208
I am getting this error in my nginx logs after upgrading Wordpress ... Solution was to remove this plugin from the plugins directory, force deactivating it (workaround) ... When activating again, it causes a Redirect Loop.

[2015-10-08 13:16] pietroperona opened #282 "Image link error 404 on woocommerce product translated"
Hi,
now on site http://www.mpcashmere.com language base is set to Italian in wpml. My problem occurs only on certain woo commerce products in their translated version is not showing the images properly (it seems they are not present) in the base product but the images are correct.
A real example:
- Link product displayed correctly (Italian): http://www.mpcashmere.com/shop/scatola-regalo/
- Link pr

[2015-10-15 14:07] tkellen opened #283 "upload gzipped version of content and serve it when appropriate"
Are there any plans to support something like this? If no, would you be willing to discuss the implementation so a PR could be made?

[2015-10-15 19:23] A5hleyRich commented on #283
We will be implementing gzip compression into a future version. It's pretty high on our to-do list.

[2015-10-15 19:23] tkellen commented on #283
Awesome! Is there an issue I can track for this?

[2015-10-15 19:27] A5hleyRich commented on #283
It's actually raised on our private repo at the moment.

[2015-10-16 13:03] tkellen commented on #283
Has any implementation work been done? Is there anything I can do to help this land publicly?

[2015-10-18 18:28] grappler commented on #283
@tkellen I created a small plugin that does that for svg images. Feel free to use to code. https://gist.github.com/grappler/62626ff680edc5d03453

[2015-10-18 18:31] grappler opened #284 "Support for WP-CLI media regenerate"
Hello,

Could you add support for the wp cli command `wp media regenerate`? Thanks :smile:
http://wp-cli.org/commands/media/regenerate/

[2015-10-18 20:38] polevaultweb commented on #284
:+1:

[2015-10-19 07:50] A5hleyRich commented on #283
@tkellen No implementation has been carried out yet. Can you clarify which content you wish to Gzip?

[2015-10-19 12:08] tkellen commented on #283
@A5hleyRich svg was my primary use case. I'll check out your code @grappler!

[2015-10-19 13:45] A5hleyRich commented on #283
Thanks for clarification. Please let us know how you get on with @grappler's Gist.

[2015-10-21 10:21] scampiuk opened #285 "Failed to move images uploaded by RPC"
Hi

With the code snipped below, images are not moved to the S3 bucket, when the media is uploaded via the RPC process.

[code]

[2015-10-23 13:36] zephod opened #286 "Don't use old_s3object settings when uploading"
Hi Ashley & team,

https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/blob/master/classes/amazon-s3-and-cloudfront.php#L536

This line just cost me half a day of coding :-|
I am using the regenerate_thumbnails plugin to move all our existing assets to S3. However, changing the S3 bucket and regenerating thumbnails was not working; files were not being uploaded to the new bucket. I trac

[2015-10-25 07:32] grappler commented on #286
I came across a similar bug. I changed the bucket name as I changed aws account. The problem is that the previously uploaded files have the old bucket name in the database and not the new one. So when trying to download files to the server does not work.

[2015-10-25 07:34] grappler commented on #171
Duplicate of https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/issues/283

@mcdanielisaac & @treyrich If you are still interested I have some code that I wrote for svg files: https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/issues/283#issuecomment-149036957

[2015-10-25 11:38] grappler commented on #284
I think the code that would be needed would look like this:
[code]

[2015-10-25 11:49] grappler opened #287 "Progress bar for the upgrade process"
Please could you add a progress bar to the upgrade process?

I have 26 images for which the image sizes needed to be updated and it is still running an hour later.

[2015-10-27 09:08] B3nCr opened #288 "Latest update breaks URL with resize option."
Certain image urls are being double encoded so instead of the query string`?resize=256,256` it's adding `%3Fresize%3D256%252C256` which isn't being recognised as a query string by amazon and is assumed to be part of the file name.

I updated the S3 plugin and WooCommerce at the same time so can't be sure it's not WooCommerce doing this as some images still work. Although, on the other hand, my ent

[2015-10-27 09:09] B3nCr commented on #288
Someone on the wordpress.org forum has also noticed this behaviour but like me didn't read that this needs reporting here. https://wordpress.org/support/topic/update-breaks-images

[2015-10-27 09:12] polevaultweb commented on #288
Hey @B3nCr thanks for posting on here. Can we get your diagnostic log  so we can recreate? Also do you know what is adding the query string?

[2015-10-27 09:15] B3nCr commented on #288
@polevaultweb diagnostic log? Is that a plugin thing or a wordpress thing? I'm still feeling my way around wordpress.

I've reverted my environment back to the previous version. I'll create a new branch and recreate.

I was seeing the issue on resized images, thumbnails in the media library and products on the catalog page. I'm not sure what was adding the query string.

[2015-10-27 09:21] polevaultweb commented on #288
hey @B3nCr if you go to AWS > S3 and CloudFront > Support tab, you can download the diagnostic log and post it here. Cheers

[2015-10-27 09:24] B3nCr commented on #288
site_url(): http://localhost:8059
    home_url(): http://localhost:8059
    Database Name: ebdb
    Table Prefix: wp_
    WordPress: 4.3.1
    Web Server: Microsoft-IIS/8.5
    PHP: 5.6.0
    MySQL: 5.6.23-log
    ext/mysqli: yes
    PHP Memory Limit: 256M
    WP Memory Limit: 40M
    Blocked External HTTP Requests: None
    WP Locale: en_GB
    Debug Mode: No
    WP Max Upload Size: 8 MB
    PHP

[2015-10-27 09:25] B3nCr commented on #288
@polevaultweb Very strange, now that I've re-installed the plugins one by one I'm not getting the same issue

[2015-10-27 09:27] polevaultweb commented on #288
@B3nCr as well as 'Enhanced Media Library'?

[2015-10-27 09:31] B3nCr commented on #288
@polevaultweb That didn't get an update. S3 Offload was working before the update with that installed. It adds categories to the media items in the DB, I don't think it changes how it handles the actual files.

[2015-10-27 09:32] polevaultweb commented on #288
@B3nCr hmm, ok so it sounds like WooCommerce adds the query string. I will investigate and get back to you. Cheers.

[2015-10-27 09:35] B3nCr commented on #288
@polevaultweb I've just had a look through the enhanced media library php and js files and I can't find the term `resize`.

Thanks for looking into this

[2015-10-27 12:08] B3nCr commented on #288
Is there an easy way to reverse images back from the S3 bucket to the media library?

[2015-10-27 13:36] polevaultweb commented on #288
@B3nCr as in copy them back, or don't serve them from S3?

[2015-10-27 13:47] B3nCr commented on #288
copy them back

[2015-10-27 13:51] polevaultweb commented on #288
That's actually a feature of the Pro upgrade - https://deliciousbrains.com/wp-offload-s3/upgrade/ :)

[2015-10-27 14:01] B3nCr commented on #288
It was a small enough library that I can manage it manually and be more cost effective at the moment.

I might need pro soon enough for purchasable content though I'm a bit put off by the limit on the number of items though. I'll have to see how big the media library grows to.

Does the free version have such a limit on media items?

[2015-10-27 14:03] polevaultweb commented on #288
No limit on the free version

[2015-10-28 19:05] ASAPUK commented on #285
Solution was to change
$image['type'] = 'image/jpg';
to
$image['type'] = 'image/jpeg';
Only then are the correct actions triggered by Wordpress.

[2015-10-28 19:53] #285 closed

[2015-10-29 09:34] phh opened #289 "Packagist is not updated"
0.9.7 was released 3 days ago:
https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/releases/tag/0.9.7

But the now version is not available on packagist:
https://packagist.org/packages/deliciousbrains/wp-amazon-s3-and-cloudfront

You could add a github service hook to notify packagist that there is an update available:
https://packagist.org/about#how-to-update-packages

[2015-10-29 11:24] A5hleyRich commented on #289
The packagist repo isn't maintained by us so we can't add the GitHook.

Please use http://wpackagist.org/search?q=amazon-s3-and-cloudfront&type=any&search=

[2015-10-29 11:24] #289 closed

[2015-10-30 21:55] grappler opened #290 "Support for Responsive Images in WP 4.4"
Please could you support responsive images in WP 4.4. At the moment the URL for the other image sizes is the local URL and not the amazon url.

[2015-10-31 10:30] A5hleyRich commented on #290
It's in the pipeline.

[2015-11-03 11:03] dclawson opened #291 "stream_wrapper_register error"
Hi,

I am receiving an error on certain images after uploading through wordpress.

```Warning: stream_wrapper_register(): Protocol s3:// is already defined in /var/app/current/web/app/plugins/amazon-s3-and-cloudfront/classes/as3cf-stream-wrapper.php on line 12```

Images show correctly without the error when the plugin is disabled.

``Version 0.3.4``

[2015-11-03 12:40] A5hleyRich commented on #288
Fixed in 0.9.8

[2015-11-03 12:40] #288 closed

[2015-11-03 12:42] A5hleyRich commented on #291
Please can you provide the exact steps to replicate, in addition to your diagnostic information found under the support tab?

[2015-11-03 19:19] guillaumemolter commented on #291
Same here with latest version of AWS/S3 plugin.
[code]
Support tab:
[code]

[2015-11-03 20:11] B3nCr commented on #288
Can I re-enable the jetpack caching feature then? Thanks

[2015-11-03 20:46] polevaultweb commented on #288
@B3nCr yep, should be fine to.

[2015-11-04 17:18] aaemnnosttv opened #292 "PHP Fatal error: Call to undefined method WP_Error::get() in 0.9.7, 0.9.8"
I got this error after upgrading to 0.9.7, as well as 0.9.8 (which is the current stable release).

[code]

[2015-11-04 18:19] polevaultweb commented on #292
@aaemnnosttv how are you entering your API key and secret? In the UI or with the constants? Could you post your diagnostic info from the support tab in the settings so I can try to recreate please.

[2015-11-04 19:42] aaemnnosttv commented on #292
I define them with the constants which are set using Dotenv:
[code]

This is on my local environment where I don't want to be uploading stuff to S3, so I never defined those in my `.env`.  So those are all defined as `false`.  I still want the url rewriting though, so I need to keep the plugin activated.

Like I said, it wasn't a problem for me in 0.9.6 or before, so it shouldn't be blowing up jus

[2015-11-04 23:42] qwcode commented on #21
was this ever released?  it's unclear how to bypass configuring the keys and fallback to the role on the server?

[2015-11-04 23:47] qwcode commented on #21
ok, I found this:   https://deliciousbrains.com/wp-offload-s3/doc/iam-roles/

[2015-11-05 08:51] polevaultweb commented on #292
@aaemnnosttv thanks for that further info. You are right it shouldn't be blowing up like that!

[2015-11-12 13:59] guillaumemolter commented on #291
@A5hleyRich Any update on that?

[2015-11-12 14:02] A5hleyRich commented on #291
Pushed the fixes this morning. Please update to 0.9.9 and let us know how you get on.

[2015-11-12 20:53] guillaumemolter commented on #291
@A5hleyRich after an hour in production, no more errors. I think you can close the issue. Thank you for the fix.

[2015-11-12 21:10] #291 closed

[2015-11-17 19:27] #189 closed

[2015-11-25 06:24] tkywtnb opened #294 "PHP Fatal error: Call to undefined function mysql_get_server_info() with "WP DB Driver" Plugin"
I use "WP DB Driver" plugin in order to connect to MySQL with SSL.
And also I use "PDO - MySQL" as DB driver.
I got a following error when I show "S3 and CloudFront" page in 0.9.9

[code]

[2015-11-25 08:58] A5hleyRich commented on #294
Thanks for the report and PR. We'll get it merged in a future release.

[2015-11-25 08:59] A5hleyRich commented on #287
Thanks for the feedback, it's in the pipeline.

[2015-11-25 09:02] A5hleyRich commented on #266
Tested with both Nginx and EasyEngine, unable to replicate. No further reports, closing for now.

[2015-11-25 09:02] #266 closed

[2015-11-25 09:04] A5hleyRich commented on #26
No longer relevant with new bucket select UI.

[2015-11-25 09:04] #26 closed

[2015-11-25 09:06] A5hleyRich commented on #44
Feature available in the Pro version. Closing

https://deliciousbrains.com/wp-offload-s3/

[2015-11-25 09:06] #44 closed

[2015-11-25 09:08] A5hleyRich commented on #62
Paths are already customisable. Supporting NextGen requires a lot more work than removing the YYYY/MM prefix.

We do have a compatibility addon planned for NextGen, but no ETA just yet.

[2015-11-25 09:08] #62 closed

[2015-11-25 09:09] A5hleyRich commented on #65
Bug resolved in version 0.9.7.

[2015-11-25 09:09] #65 closed

[2015-11-25 09:12] A5hleyRich commented on #69
The virtual host option isn't very useful to be completely honest, but it was implemented prior to us taking over the plugin, hence why it's there.

In a future version that option will be removed in favour of using a custom domain.

[2015-11-25 09:12] #69 closed

[2015-11-25 09:14] A5hleyRich commented on #94
BuddyPress and bbPress compatibility are planned for a future release. No ETA just yet.

[2015-11-25 09:15] A5hleyRich commented on #100
No response and no further reports. Closing

[2015-11-25 09:15] #100 closed

[2015-11-25 09:16] A5hleyRich commented on #101
Added in version 0.9.

[2015-11-25 09:16] #101 closed

[2015-11-25 09:17] A5hleyRich commented on #113
No further reports of this issue. Closing for now.

[2015-11-25 09:17] #113 closed

[2015-11-25 09:18] A5hleyRich commented on #114
No further reports. Closing

[2015-11-25 09:18] #114 closed

[2015-11-25 09:19] A5hleyRich commented on #126
Doc blocks added with each PR and is ongoing. Closing issue

[2015-11-25 09:19] #126 closed

[2015-11-25 09:19] A5hleyRich commented on #129
Fix in version 0.9.4.

[2015-11-25 09:19] #129 closed

[2015-11-25 09:20] A5hleyRich commented on #136
We have a compatibility addon for Enable Media Replace.

https://deliciousbrains.com/wp-offload-s3/doc/enable-media-replace-addon/

[2015-11-25 09:20] #136 closed

[2015-11-25 09:24] A5hleyRich commented on #144
Not a planned feature.

It doesn't make sense to serve cached pages from CloudFront as the original request still needs to hit the server to then forward it to CloudFront. It would be quicker to just serve the static version from your local server.

[2015-11-25 09:24] #144 closed

[2015-11-25 09:25] A5hleyRich commented on #167
Fixed in version 0.9.7.

[2015-11-25 09:25] #167 closed

[2015-11-25 09:25] #171 closed

[2015-11-25 09:28] A5hleyRich commented on #218
Fixed in version 0.8.1.

[2015-11-25 09:28] #218 closed

[2015-11-25 09:29] A5hleyRich commented on #219
Fixed in version 0.8.1.

[2015-11-25 09:29] #219 closed

[2015-11-25 09:32] A5hleyRich commented on #231
Fixed in version 0.9.

[2015-11-25 09:32] #231 closed

[2015-11-25 09:34] A5hleyRich commented on #232
Fixed in 0.9.7.

[2015-11-25 09:34] #232 closed

[2015-11-25 09:35] A5hleyRich commented on #233
No further reports. Closing

[2015-11-25 09:35] #233 closed

[2015-11-25 09:36] A5hleyRich commented on #235
Thanks for the suggestion. Architecture is something we will be improving overtime.

[2015-11-25 09:36] #235 closed

[2015-11-25 09:37] A5hleyRich commented on #236
Fixed in version 0.9.

[2015-11-25 09:37] #236 closed

[2015-11-25 09:39] A5hleyRich commented on #246
No further reports. Closing

[2015-11-25 09:39] #246 closed

[2015-11-25 09:40] A5hleyRich commented on #250
Resolved in 0.9.1.

[2015-11-25 09:40] #250 closed

[2015-11-25 09:41] A5hleyRich commented on #255
Resolved in version 0.9.

[2015-11-25 09:41] #255 closed

[2015-11-25 09:43] #259 closed

[2015-11-25 09:44] A5hleyRich commented on #262
Resolved in 0.9.7.

[2015-11-25 09:44] #262 closed

[2015-11-25 09:45] A5hleyRich commented on #263
Resolved in version 0.9.4.

[2015-11-25 09:45] #263 closed

[2015-11-25 09:45] A5hleyRich commented on #267
Planned for next major release of WP Offload S3.

[2015-11-25 09:46] A5hleyRich commented on #265
No further reports. Closing issue.

[2015-11-25 09:47] A5hleyRich commented on #269
No further reports. Closing

[2015-11-25 09:47] #269 closed

[2015-11-25 09:48] A5hleyRich commented on #273
Resolved in version 0.9.7.

[2015-11-25 09:48] #273 closed

[2015-11-25 09:48] A5hleyRich commented on #277
Thanks for the PR. Resolved in version 0.9.7.

[2015-11-25 09:48] #277 closed

[2015-11-25 09:51] A5hleyRich commented on #292
Resolved in version 0.9.9.

[2015-11-25 09:51] #292 closed

[2015-11-25 10:43] gofas commented on #167
Very cool!
Actually i use yas3fs for mount virtual uploads directory, this update made me to look again to WP Offload S3.
Thanks!

[2015-11-25 22:27] aidanlane commented on #233
I guess the plugin has been (virtually?) rewritten since then.
I haven't dug into this again of late, but I haven't noticed any particular issues either.
Thanks :)

[2015-11-26 18:25] prashantimpinge opened #296 "Error fetching buckets — [curl] 77: [url] https://s3.amazonaws.com/"
Hello,

I have facing this issue on AWS ElasticBeanstalk. Please help me to resolve this issue. This is urgent.

Thanks!
Prashant

[2015-11-26 18:26] polevaultweb commented on #296
@prashantimpinge https://wordpress.org/support/topic/error-fetching-buckets-curl-77-url-httpss3amazonawscom-1?replies=2#post-7711820

[2015-11-26 18:59] prashantimpinge commented on #296
Hi Iain, Thanks for your reply. I have tried to restart my app. But still not working. It give same error message. My AWS Server configuration is:

64bit Amazon Linux 2015.09 v2.0.4 running PHP 5.6

DIAGNOSTIC INFO FOR THE PLUGIN

WordPress: 4.3.1
Web Server: Apache
PHP: 5.6.14
MySQL: 5.6.19-log
ext/mysqli: yes
PHP Memory Limit: 256M
WP Memory Limit: 40M
Blocked External HTTP Requests: None
WP Loc

[2015-11-26 19:22] prashantimpinge commented on #296
Iain, Please help me for resolving this issue. Thanks!

[2015-11-27 08:17] A5hleyRich commented on #296
Does running `curl -I https://s3.amazonaws.com/` from the server yield the same result?

[2015-11-27 17:50] gsf opened #297 "Custom domain with path"
Great plugin! With 0.9.6 and earlier we were able to set the custom domain to `example.com/media`. Our `example.com` server then proxies from `/media/` to `https://s3.amazonaws.com/media-bucket/`. With 0.9.7 and above the slash is no longer allowed in the custom domain, so if we want to continue serving media from `example.com/media` we need to set the custom domain to `example.com`, turn on the "

[2015-11-28 00:38] nmarley commented on #297
There was a path option? Came here to open an issue, moving back to TanTan since I can't specify path after year/month. Why would a custom path option be removed? It seems like it would be the most useful feature.

[2015-11-30 21:09] elyobo commented on #255
Thanks @A5hleyRich, I'll check it out.

[2015-11-30 21:16] elyobo commented on #290
Implemented in 0.9.10?

[2015-11-30 21:17] polevaultweb commented on #290
@elyobo correct :)

[2015-11-30 21:17] #290 closed

[2015-12-07 08:40] A5hleyRich commented on #294
This will be available in the next release. Thanks!

[2015-12-11 17:19] wakamin opened #298 "No Upload Link In Plugin Setting"
Hi, I am using Wordpress 4.4. And I didn't see the upload link. I see in the video that there is a link that noticed the library needs to be upload to S3. But in my Wordpress, there is no link like that.

I already set the bucket. What's the problem? I appreciate any help.

[2015-12-13 21:53] polevaultweb commented on #298
Can you post your diagnostic log from AWS > S3 & CloudFront > Support please

[2015-12-14 03:54] wakamin commented on #298
Here it is

site_url(): http://www.****.com
home_url(): http://www.****.com
Database Name: ****
Table Prefix: ****
WordPress: 4.4
Web Server: nginx/1.8.0
PHP: 5.6.4-4ubuntu6.4
MySQL: 5.6.27-0ubuntu0.15.04.1
ext/mysqli: yes
PHP Memory Limit: 256M
WP Memory Limit: 40M
Blocked External HTTP Requests: None
WP Locale: en_US
Debug Mode: No
WP Max Upload Size: 8 MB
PHP Time Limit: 30
PHP Error Log:
WP Cr

[2015-12-14 08:30] A5hleyRich commented on #298
You don't have the Pro version of WP Offload S3 installed. Mass upload is a Pro only feature.

[2015-12-14 08:40] wakamin commented on #298
Ah sorry I don't know about it. That's really answer the question :) thank you.

[2015-12-14 08:40] #298 closed

[2015-12-17 21:07] thisisbbc opened #299 "Issue with WP4.4 and responsive images"
Since the latest WP4.4 update we are having issues with WooCommerce featured images.

The new srcset attribute seems to be affected by WP Offload somehow. More specifically, the srcset attribute of the featured image on single-product page. It is somehow related to WooCommerce, but so far it has not been identified as a problem from WooCommerce or the new responsive image library integrated in WP

[2015-12-18 13:00] polevaultweb commented on #299
@thisisbbc can you post your diagnostic info from AWS > S3 & CloudFront > Support please

[2015-12-18 13:05] polevaultweb commented on #299
@thisisbbc are you images still on your server? Can you turn off 'Rewrite File URLs' or better still disable the plugin, and let me know so I can view the page.

[2015-12-18 17:02] thisisbbc commented on #299
@polevaultweb sure thing, here you go...

[code]

Unfortunately the images are not on our server anymore, I'm thinking about moving back all the files though as I've learned the hard way not all plugins support this (most importantly Fancy Product Designer in our case but that's another story).

I told you that this was not related to our theme but that's not entirely true as the 470px height imag

[2015-12-19 10:42] polevaultweb commented on #299
@thisisbbc Thanks for all this. I have managed to recreate and we will be release a fixed version of the plugin shortly.

[2015-12-19 11:25] polevaultweb commented on #299
Version 0.9.11 has just been released with this fix :)

[2015-12-19 11:25] #299 closed

[2016-01-08 17:59] grappler commented on #283
FYI - Cloudfront now supports gzip. You can now request a compressed version of the file. http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/ServingCompressedFiles.html

[2016-01-08 18:00] tkellen commented on #283
Huzzah, I saw this a few weeks ago :D

[2016-01-08 18:02] grappler commented on #283
@tkellen I think you should still keep the issue open as the plugin does not yet define `Accept-Encoding: gzip` in the request header yet.

[2016-01-08 21:25] A5hleyRich commented on #283
We're still adding support for gzip with S3, but we have no plans to add the `Accept-Encoding` header. Instead we will always serve the gzipped version as almost all devices in the last 10 years support gzip. Adjusting request headers with WordPress isn't really feasible because of page caching plugins.

[2016-01-13 10:57] wujekbogdan opened #300 "I'm not able to regenerate thumbnails if original files are deleted from wp-content directory"
Hi,

I have deleted all the images from the `/wp-content/uploads/ direcory`. All the files have been sent to S3.

Afterwards, I've registered several image sizes (with `add_image_size()`). I wanted to regenerate thumbnails. But regenerating thumbnails keeps failing - new sizes are not created. I believe it's not regenerate thumbnails plugin fault, because I tried several plugins and wp-cli. If ama

[2016-01-13 12:53] polevaultweb commented on #300
@wujekbogdan The Regenerate Thumbnails plugin is supported, in that if your files have been removed from the server, when you run the regen, WPOS downloads them from S3 so it can be processed, then removes them again. It sounds like there is a bug with this process on your site. Can you post the diagnostic info from S3 & CloudFront > Support please.

[2016-01-13 13:15] wujekbogdan commented on #300
[code]

[2016-01-15 16:10] wujekbogdan opened #301 "Changing path in the plugin settings affects only newly added media"
Trying to solve this issue https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/issues/300 I started to play with various plugin settings. First of all, I've changed the custom path to default (`wp-content/uploads`). All newly added images have a proper path, but old media files (added before I've changed this setting) still has the old one. It happens in the WP admin and on the front-en

[2016-01-15 16:19] A5hleyRich commented on #301
That's the expected behaviour. URLs aren't rewritten, which is why they don't update to reflect the new settings. For this to work we would have to perform a find and replace on the database when settings have changed, which isn't something we plan on implementing.

We are looking into alternative solutions though.

[2016-01-21 17:44] adeubank opened #303 "Shows PHP Strict Warning, Declaration of AS3CF_Stream_Wrapper::register() should be compatible with Aws\S3\StreamWrapper::register(Aws\S3\S3Client $client, $protocol = 's3', Aws\CacheInterface $cache = NULL)"
<table class="xdebug-error xe-strict-standards" dir="ltr" border="1" cellspacing="0" cellpadding="1">
<tbody><tr><th align="left" bgcolor="#f57900" colspan="5"><span style="background-color: #cc0000; color: #fce94f; font-size: x-large;">( ! )</span> Strict standards: Declaration of AS3CF_Stream_Wrapper::register() should be compatible with Aws\S3\StreamWrapper::register(Aws\S3\S3Client $client, $p

[2016-01-22 08:14] A5hleyRich commented on #303
Are you pulling in another version of the AWS SDK via composer, so some other method?

[2016-01-22 18:08] adeubank commented on #303
Yep, that is exactly what I am doing. This is the version I have in my composer.json, `"aws/aws-sdk-php": "^3.2",`

What SDK version is this plugin using? Or what AWS API version should I use?

[2016-01-22 18:46] A5hleyRich commented on #303
WP Offload S3 isn't compatible with version 3 of the SDK.

[2016-01-22 23:32] adeubank commented on #303
That was it, downgrading to 2.* in the composer.json did the trick. thank you, sir.

[2016-01-22 23:32] #303 closed

[2016-01-27 17:13] duvanmonsa commented on #224
Hello i am having same problem did you solve the error? Thank you.

[2016-01-30 12:36] ZE3kr commented on #299
I notice that 0.9.11 still have this bug, the srcset miss the photo URL(in feature photo), and in the page, it miss the srcset.

<img width="435" alt="2016-01-30 19 05 54" src="https://cloud.githubusercontent.com/assets/6601455/12695684/bb5face4-c790-11e5-877d-234b6f034bbb.png">

[code]

[2016-01-30 12:39] ZE3kr commented on #299
And I tried disable all other plugins, and it still not work.

[2016-01-30 17:06] polevaultweb commented on #299
@ZE3kr apologies for this, it is an issue with srcset and our object versioning. It will be fixed in the next version.

[2016-02-02 14:39] joshbrw commented on #299
@polevaultweb any ideas when the next version will be released? Also having issues with srcset over here.

[2016-02-02 15:26] joshbrw commented on #299
Just a sidenote, we're using `the_post_thumbnail()` and it's not returning any srcset information.

[2016-02-02 17:39] mcanever opened #304 "wp_calculate_image_srcset always returns false when Object versioning is enabled"
Hello,
we're using this plugin on WordPress 4.4.1 with no issues so far, thanks for the great job.
At the moment we're willing to start implementing the native support for responsive images on WP 4.4.x on a responsive website, but we've noticed that `wp_calculate_image_srcset` is always returning `false`.
I've started digging and found a small issue in your code [which I highligted here](https://g

[2016-02-02 17:46] polevaultweb commented on #304
@mcanever we have been working on a fix for this and it will be released soon, will keep you posted.

[2016-02-03 13:29] polevaultweb commented on #304
@mcanever this should be fixed in version 0.9.12 just released :)

[2016-02-04 19:53] brasilmorar opened #305 "Error adding an image on the user panel wordpress"
Dear,

Installed a new setup in my wordpress site using the plugin WP Offload S3, I never had problems it is configured to download the images in bucket s3, set up to keep everything in s3 and delete the server. I am now with this configuration:

WordPress: 4.4.2
Web Server: nginx/1.8.1
PHP: 5.6.17-3+deb.sury.org~trusty+1
MySQL: 10.0.17-MariaDB-log
ext/mysqli: yes
PHP Memory Limit: 256M
WP Memory

[2016-02-04 20:01] mcanever commented on #304
Awesome!!! Thanks

[2016-02-04 20:05] #304 closed

[2016-02-06 20:09] tlpriest opened #307 "Cannot use a directory in an S3 bucket as the Origin for a CloudFront distribution with custom domain"
Create an S3 bucket with the following example directories:

s3://mybucket/cloudformation
s3://mybucket/cloudfront
s3://mybucket/lambda
s3://mybucket/otherstuff...

Create a CloudFormation distribution with an origin of s3://mybucket/cloudformation and a custom domain of cloudfront.mydomain.com

In wp-amazon-s3-and-cloudfront, set Path to 'cloudfront/wordpress/wp-content/uploads/' so that when you

[2016-02-08 09:05] A5hleyRich commented on #307
Thanks for the heads up @tlpriest. I've raised an issue with the rest of the team so that we can look at supporting CloudFront origin paths.

[2016-02-16 11:45] elend80 opened #308 "Compatibility with WPML Plugin"
Hello.

I have installed S3 Offload and WPML.

but it serves only one language. if change language, media file's link is default site domain.

How to solve?

Refer...
https://wpml.org/forums/topic/compatibility-with-s3-offload/
https://wpml.org/forums/topic/compatibility-with-amazon-s3-and-cloudfront-plugin/
https://wpml.org/forums/topic/amazon-s3-and-cloudfront-and-wpml-compability/

[2016-02-24 08:57] sampohaavisto commented on #308
I've noticed that this occurs when sharing the media between languages. It has been around since the I started using the offload plugin -- Jan 2015.

You can do a rewrite in server configuration. That's my solution. Works, but it's kind of hacky.

You must disable object versioning from the plug-in configurations and possibly copy all files from the object version dirs to /bucket/yyyy/mm/ in order

[2016-02-24 09:18] polevaultweb commented on #308
@elend80 WPML and WPML Media plugin compatibility with WP Offload S3 is available using the [Pro upgrade](http://deliciousbrains.local/wp-offload-s3/) with our WPML addon http://deliciousbrains.local/wp-offload-s3/doc/wpml-addon/

[2016-02-26 20:57] jhonaker-cap commented on #300
I had a similar issue which I was able to work around by manually creating the year/month directory structure in uploads.

[2016-02-28 02:43] shawnhooper opened #309 "Empty Needle on Non-Image Media Uploads"
Looking at my media library,  non-image uploads that have been offloaded to Amazon S3 are getting an "empty needle" php error in the list above the thumbnail and post title.

`Warning: strpos(): Empty needle in /var/www/html/wp-content/plugins/amazon-s3-and-cloudfront/classes/as3cf-plugin-compatibility.php on line 906`

Going to the Amazon S3 URL for these items loads them OK, so the objects are i

[2016-02-29 08:20] A5hleyRich commented on #309
Hi Shawn,

This will be fixed in the next release. The error is related to compatibility with responsive images, which is why you're seeing it for those file types. It shouldn't cause any issue though, other than maybe filling your logs.

[2016-02-29 19:16] shawnhooper commented on #309
Thanks for the update Ashley!

[2016-03-01 05:34] elend80 commented on #308
@sampohaavisto @polevaultweb Thank you.

My Solution is modify s3 plugin file

amazon-s3-and-cloudfront/classes/amazon-s3-and-cloudfront.php

`    function wp_get_attachment_url( $url, $post_id ) {

        global $sitepress;
            //get the original id
            $post_id= icl_object_id($post_id, 'page', true, $sitepress->get_default_language());
`

[2016-03-01 05:34] #308 closed

[2016-03-01 06:56] sampohaavisto commented on #308
Thanks @elend80, looks good to me!

[2016-03-02 20:39] ArcticSnowman opened #310 "How do you setup this WP plugin to use a proxy to connect to s3?"
How do you setup this WP plugin to use a proxy to connect to s3?

I have WP_PROXY_* settings in my wp-config.php and I have the PROXY_HTTPS environment settings, but I seem unable to reach http://s3.amazonaws.com/

Any ideas?

[2016-03-03 08:19] A5hleyRich commented on #310
You need to pass your proxy settings to the S3 client, which you can do using the `aws_get_client_args` filter.

https://blogs.aws.amazon.com/php/post/Tx9FZ2MY1XP7X6/Sending-requests-through-a-proxy

Something like this should work:

[code]

[2016-03-03 14:26] ArcticSnowman commented on #310
But there is code support for setting the proxy in your 'Amazon Web Services'  WP plugin, so why not provide some means to support that with the S3 plugin?

[2016-03-03 14:37] A5hleyRich commented on #310
S3 uses the Amazon Web Services plugin to connect to S3, therefore the filter provided covers both. What code to you need to 'hack'?

[2016-03-03 14:41] ArcticSnowman commented on #310
Where would I put that piece of code?

[2016-03-03 14:46] A5hleyRich commented on #310
It's best to add it to another plugin. Check out our tweaks plugin, which demonstrates how to customize WP Offload S3.

https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront-tweaks

[2016-03-03 15:21] ArcticSnowman commented on #310
That's neat,   will take a look... I still think proxy support should be on your roadmap as most enterprise installs (internal at least) would live behind a proxy.

[2016-03-03 15:30] A5hleyRich commented on #310
Thanks for the suggestion. I've raised an issue to get it included in a future version.

[2016-03-03 15:30] #310 closed

[2016-03-07 16:41] evok3d commented on #110
Hi. has there been any progress on this?

Cheers.

[2016-03-08 07:34] A5hleyRich commented on #110
See the `as3cf_pre_upload_attachment` filter.

https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/blob/master/classes/amazon-s3-and-cloudfront.php#L762

[2016-03-08 15:59] A5hleyRich commented on #309
Fixed in the latest release.

https://wordpress.org/plugins/amazon-s3-and-cloudfront/changelog/

[2016-03-08 15:59] #309 closed

[2016-03-09 17:26] nickcaus opened #311 "Cant edit image when plugin is enabled"
Error message:
"This image is from a different remote domain. To be able to resize it, upload the image on this domain!"

[2016-03-10 08:41] A5hleyRich commented on #311
That doesn't sound like a native WordPress error message. Do you have any plugins installed which change the edit image functionality? WP Offload S3 is tested with the builtin image editor and it works just fine, including when the local image is removed from the server.

[2016-03-14 01:56] bisonbrah opened #312 "Error Creating Bucket - Please Help"
I need to offload roughly 6GB's of media files from WordPress install to AWS. Tried following guide [here](https://premium.wpmudev.org/blog/moving-wordpress-media-to-amazon-s3/) but I keep getting error below.

Error creating bucket — SyntaxError: JSON.parse: unexpected character at line 2 column 1 of the JSON data

[2016-03-14 09:09] A5hleyRich commented on #312
Can you provide your diagnostic information found on the support tab?

[2016-03-14 11:42] bisonbrah commented on #312
site_url(): http://keystonepuppies.com
home_url(): http://keystonepuppies.com
Database Name: wp_keystonepup
Table Prefix: wp_
WordPress: 4.4.2
Web Server: Apache
PHP: 5.5.9-1ubuntu4.14
MySQL: 5.6.28
ext/mysqli: no
PHP Memory Limit: 256M
WP Memory Limit: 40M
Blocked External HTTP Requests: None
WP Locale: en_US
Organize uploads by month/year: Enabled
WP_DEBUG: No
WP_DEBUG_LOG: No
WP_DEBUG_DISPLAY:

[2016-03-18 18:38] goldendragon88 opened #313 "wp_get_attachment_image_src() return false"
I am using this plugin to store attached image files at AWS S3 & CloudFront.
Now web site works fine, It's ok.
The only problem is json api for mobile app.
The function **wp_get_attachment_image_src()** returns false, so I can't use the image url for the specific image size.

Can I get CloudFront image url for the specific image size?

[2016-03-18 19:03] #313 closed

[2016-03-22 16:13] elliotthill opened #314 "Not working with Wordpress responsive images?"
Hi,

I have the plugin working, although the srcsets are pointing to non s3 urls.

The hooks, wp_get_attachment_url, wp_get_attachment_image_src are not affecting these URLS. All caches are cleared.

Is this a known issue?

[2016-03-22 16:17] elliotthill commented on #314
It needs another hook into here no?

https://developer.wordpress.org/reference/functions/wp_calculate_image_srcset/

[2016-03-23 09:23] polevaultweb commented on #314
Can you post your diagnostic info from the Support tab in the plugin settings please?

[2016-03-29 06:50] grappler commented on #284
Would you be open to a PR? I ask because it seems this repo is just the distribution files of the lite version.

[2016-03-29 08:10] A5hleyRich commented on #284
@grappler sure

[2016-03-29 11:07] ianmjones commented on #240
Hi @dpegasusm,

We've been trying to replicate the issue with the current version of WP Offload S3 Lite, and with WP Offload S3, but not having any luck.

Do you still see the problem with the latest version?

[2016-04-12 00:44] GiacoCorsiglia opened #315 "Settings row in database overwritten if settings fail to load."
Hello,

If the plugin ever fails to read the settings row from the database (via `get_site_option()`), it appears to destroy most of the saved settings.  Suppose in one request `get_site_option('tantan_wordpress_s3')` fails due to, say, a momentarily dropped MySQL connection.  In that same request, the `'tantan_wordpress_s3'` row is updated so it loses most (see list) of the saved values.  This me

[2016-04-12 16:35] noreabu commented on #233
Issue still exist for me, suggest reopening. Will put some time into it, during the next days. Any hints are welcome

[2016-04-13 08:54] sharadm-iprogrammer opened #316 "error attempting to get the region of the bucket"
I am using plugin Offload S3 Lite, I am not able to browse "Existing bucket". I am getting below error:

Error saving bucket — Error Getting Bucket Region —There was an error attempting to get the region of the bucket {{BUCKETAME}}: Access Denied

I even have tried setting mentioned @ https://wordpress.org/support/topic/error-saving-bucket-failed-to-retrieve-bucket-region but with no success

Plea

[2016-04-13 10:11] A5hleyRich commented on #316
Do you have the `list` permissions as per this doc? https://deliciousbrains.com/wp-offload-s3/doc/quick-start-guide/

[2016-04-13 16:29] A5hleyRich commented on #315
Thanks for the report. However, this seems very edge case and more of an issue with your environment. As a workaround can you use the settings constant?

https://deliciousbrains.com/wp-offload-s3/doc/settings-constants/

Closing until we receive further reports.

[2016-04-13 16:29] #315 closed

[2016-04-14 06:00] sharadm-iprogrammer commented on #316
I have added s3:List permission as per doc but I am till facing same problem. Is there anything else needs to do in setting?

[2016-04-14 07:11] A5hleyRich commented on #316
No that should be enough. The next thing to do would be to enable WP_DEBUG_LOG and try listing the buckets to see if a more informative error is generated in wp-content/debug.log.

[2016-04-14 09:15] sharadm-iprogrammer commented on #316
I checked log and found below variables not defined so I added them in wp-config.php.

AWS_USE_EC2_IAM_ROLE
AS3CF_BUCKET
AS3CF_ASSETS_BUCKET
AS3CF_REGION

but till I am getting below arror

 Error Getting Bucket Region —There was an error attempting to get the region of the bucket BUCKET_NAME: Error retrieving credentials from the instance profile metadata server. When you are not running inside o

[2016-04-14 10:53] polevaultweb commented on #316
@sharadm-iprogrammer those are constants that are not required to be set, and are only needed for certain scenarios.

Can you revert those and let us know if anything is in the logs as per https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/issues/316#issuecomment-209794958

[2016-04-14 14:36] sharadm-iprogrammer commented on #316
I tried with as requested by A5hleyRich but there is no error in debug.log while accessing s3bucket (only PHP Notice were there which were for variable)

but after accessing page "/hotel/wp-admin/admin.php?page=amazon-s3-and-cloudfront" shows error

Error Getting Bucket Region —There was an error attempting to get the region of the bucket BUCKET_NAME: Error retrieving credentials from the instance

[2016-04-14 15:28] polevaultweb commented on #316
@sharadm-iprogrammer are you running the site on EC2? If no, then you can remove the constant `AWS_USE_EC2_IAM_ROLE` from your wp-config.php file. Can you retry to see if the original error https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/issues/316#issue-147991376 causes anything to show up in the logs.

[2016-04-15 06:43] sharadm-iprogrammer commented on #316
No I am not running site on EC2. I have removed this variable from config file and till there are only PHP Notices in support.log file.

Wp admin panel shows error message:

Error Getting Bucket Region —There was an error attempting to get the region of the bucket BUCKET_NAME: Error retrieving credentials from the instance profile metadata server. When you are not running inside of Amazon EC2, you

[2016-04-15 07:17] polevaultweb commented on #316
@sharadm-iprogrammer are you loading the AWS SDK by another means, eg. composer?

[2016-04-15 07:41] sharadm-iprogrammer commented on #316
No I am not using composer or another means

[2016-04-15 10:24] noreabu opened #317 "Editing image in WP Image Editor only works once"
There is probably an issue with using the Wordpress Image Editor in combination with the plugin.

Steps to reproduce:
1. Enable in Configuration: Remove Files From Server
2. Upload Image (Both: "Post Edit" and "Media Library" give the same result)
3. Edit once (i tried multiple options)
4. Try to edit again -> no image is loaded, if you click an editing operation, the following error is shown: "Co

[2016-04-18 07:42] sharadm-iprogrammer commented on #316
Here are the current permissions for that user in IAM:

{
"Statement": [
{
"Effect": "Allow",
"Action": [
"s3:DeleteObject",
"s3:Put*",
"s3:Get*",
"s3:List*"
],
"Resource": [
"arn:aws:s3:::BUCKET_NAME/",
"arn:aws:s3:::BUCKET_NAME/*"
]
}
]
}

Please let me know if these settings are ok or we need to make any change in this?

Currently I am getting below error:
There was an error attempting to check

[2016-04-18 07:54] A5hleyRich commented on #316
Can you provide your diagnostic info found on the support tab, remembering to blank out sensitive data?

[2016-04-18 08:56] sharadm-iprogrammer commented on #316
Below is the detail:

WP_CONTENT_DIR: /home/dev/ABC/hotel/wp-content
WP_CONTENT_URL: http://ABC/hotel/wp-content
UPLOADS: Not defined
WP_PLUGIN_DIR: /home/dev/ABC/hotel/wp-content/plugins
WP_PLUGIN_URL: http://ABC/hotel/wp-content/plugins

AWS_USE_EC2_IAM_ROLE: Not defined
AS3CF_BUCKET: Not defined
AS3CF_ASSETS_BUCKET: Not defined
AS3CF_REGION: Not defined

Bucket: BUCKET_NAME
Region:
Copy Files t

[2016-04-18 13:05] guillaumemolter commented on #317
@noreabu can you provide youre Kirki  source code (how to add the section, fields, etc), the version of Kirki you're using, how to include Kirki, do you see any errors in the web console of your browser?

[2016-04-19 10:19] noreabu commented on #210
Hope this helps: https://github.com/tomaszsita/wp-manual-image-crop/pull/55

If not, please give me feedback :)

[2016-04-21 14:41] leoloso commented on #144
Hi @bradt @A5hleyRich

I wonder if you would reconsidering not adding this feature, at least for uploading to S3 the folder created by WP Super Cache with all cached files. That's because there's an issue right now: by saving the cached files locally, these files are out of sync among instances. Eg: I have set to delete the cache whenever a new post is published, but it deletes the cache only from

[2016-04-21 17:58] A5hleyRich commented on #144
This is still not something we plan on implementing. @leoloso can you not use a shared filesystem across those instances, or use some custom logic to clear the cache?

[2016-04-22 03:50] leoloso commented on #144
Hi @A5hleyRich

Implementing some logic to keep the cache in sync may be tricky, since each instance is not aware of all other instances. WP Super Cache allows to clear the cache a new post is published, but this instance can't instruct all other instances to clear their cache too. Adding some extra logic, eg: check if there was a new post at the beginning of each request and if so clear the cache

[2016-04-22 14:52] TheUnknownJG opened #318 "AWS SDK conflict"
I am attempting to write a piece into our site that uses the AWS SDK (using their aws.phar v3.15.0 file) so I can do an SNS push to our mobile devices.  I had a stand-alone test page written that works perfectly.  When I attempted to include this into the WP site, I started getting repeated errors in the error logs because the SDK I was including was conflicting with what is being pulled in from y

[2016-04-26 13:14] TheUnknownJG commented on #318
Nevermind.  I finally found another post referencing this exact issue.  I will leave this here for others to find as well though.

The problem was caused by the fact that the Offload S3 plugin does not play well with the AWS SDK V3.  Going back to version 2 (v2.8.28 being the last v2 version) of the SDK fixed my problems.

Here is a link to legacy version of the SDK for your convenience.
https://g

[2016-04-27 08:18] polevaultweb commented on #318
We are looking at compatibility with v3 in the future.

[2016-04-27 08:18] #318 closed

[2016-04-27 20:59] AltJ commented on #316
I'm helping Sharad troubleshoot this issue and here's what I've done and ended up with the same error:
I've:

- uninstalled the plugin and removed the config settings from the DB
- added the proper AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY lines to wp-config.php
- followed the instructions here: https://deliciousbrains.com/wp-offload-s3/doc/quick-start-guide/ (same error)
- tried blowing the per

[2016-04-27 21:01] AltJ commented on #316
oh, I forgot to mention that I've verified that the credentials we have are working with s3cmd.

[2016-04-27 21:05] AltJ commented on #316
I'm an idiot.  You can close this.  I've been wasting a bunch of time troubleshooting this with the wrong set of keys.

[2016-05-09 15:58] roommatebd opened #319 "amazon"
zone

[2016-05-09 17:17] A5hleyRich commented on #319
Can you elaborate?

[2016-05-11 22:16] mrbm opened #320 "Wordpress image editor wont work for certain jpeg images"
I thought this issue was random...but its not.

Various jpeg images in the word press image editor preview are showing up with a no image and if following the image preview path it returns a -1

I can confirm that all jpegs coming from my cell phone camera behave in this way in the image editor, otherwise they perform as expected. If i re-export an image with new compression via photoshop with the

[2016-05-12 08:19] polevaultweb commented on #320
Could you post your diagnostic info from the support tab in the settings please?

[2016-05-12 14:17] mrbm commented on #320
I'd prefer not to post that data publicly, just sent it to the email address on your site. Please confirm receiving it. Thanks!

[2016-05-12 14:37] A5hleyRich commented on #320
Got it. Looking into it now.

[2016-05-12 14:59] mrbm commented on #320
Great thanks, let me know if I can help.

To confirm are you seeing the same issue on your system with the image i sent?

[2016-05-12 15:07] A5hleyRich commented on #320
I'm not able to replicate this locally with the image provided. What's strange is we've had another report of this today and I can't replicate with those images either.

Is there anything in the debug.log files?

[2016-05-12 15:16] mrbm commented on #320
Just messaged you on the email. And regarding the debug.log, nothing hits it when gong to the going to edit it.

[2016-05-12 15:23] mrbm commented on #320
Is your plugin hitting the exif data in any way?

[2016-05-13 03:17] pdufour opened #321 "Object versioning should auto disable if rewriting is off"
Hi sweet plugin! Super easy to install & use. One quirk I noticed, if you disable the automatic rewriting, but leave object versioning enabled, it will upload the file to a versioned url, but keep the non-versioned url displayed in the admin.

So it uploads to 2015/$version/foo.jpg, but in the admin it looks for 2015/foo.jpg (results in 404). I think it would be convenient if object versioning was

[2016-05-13 07:56] A5hleyRich commented on #321
I think you may have the 'Rewrite File URLs' option confused, which allows you to toggle whether or not to serve files from S3. If you disable the option the local version will be used. It's useful if you want to backup your Media Library to S3, but continue serving the local versions.

[2016-05-13 10:59] A5hleyRich commented on #320
Nope we don't touch the exif data.

[2016-05-13 18:54] pdufour commented on #321
In our context, we have the files uploaded to s3, but we don't have this plugin do the rewriting. Instead we have a CDN plugin that rewrites all static files including uploads.

[2016-05-13 19:01] pdufour commented on #321
I think I see what you mean though. Our case is probably an outlier. You could be backing up to S3 without rewriting like you said, which would mean object versioning being on or off would not break the images.

[2016-05-13 19:20] A5hleyRich commented on #321
Is there any reason why you're using another plugin to perform the rewriting?

[2016-05-13 20:17] pdufour commented on #321
We want files like theme assets to be served by the CDN as well.

[2016-05-14 08:55] A5hleyRich commented on #321
Gotcha. That is a feature of our Pro version and the Assets addon.

Closing issue as it's very specific to your use case.

[2016-05-14 08:55] #321 closed

[2016-05-14 20:14] mrbm commented on #320
Been working with Ashley and it looks like he has narrowed it down to a bug reported here:

https://bugs.php.net/bug.php?id=69706

However that bug is referring to an issue found in aws-sdk-php version 2, in version 3 it appears that is was addressed.

https://github.com/aws/aws-sdk-php/issues/587

wp-amazon-s3-and-cloudfront appears to be still using the aws-sdk-php 2.  For some situations Image

[2016-05-14 21:02] mrbm commented on #320
More debugging.

In the file amazon-web-services/vendor/aws/Aws/S3/StreamWrapper.php line 179

There is a function called public function stream_seek($offset, $whence = SEEK_SET)

Inside this function, I modified it to send me an email...that email gets sent only with the problem images in both the thumbnail editor (without imagick installed)

So this is indeed a problem area....in version 3 some

[2016-05-27 10:49] frankscalzo opened #322 "error fetching buckets"
I get this error fetching buckets

Error fetching buckets — SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data

when i try to create a bucket i error as well

[vroom.avalere.com-diagnostic-log-20160527104857.txt](https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/files/286297/vroom.avalere.com-diagnostic-log-20160527104857.txt)

[2016-05-27 10:51] polevaultweb commented on #322
@frankscalzo  can you try editing your wp-config.php file to replace this line -

  define( 'WP_DEBUG', false );

With these lines -

define('WP_DEBUG', true);
define('WP_DEBUG_LOG', true);
define('WP_DEBUG_DISPLAY', false);

This means that any errors are logged to `/wp-content/debug.log`, because some errors are not visible on screen.

Can you try the process again and then send on the `debug.lo

[2016-05-27 10:58] frankscalzo commented on #322
Error fetching buckets — SyntaxError: Unexpected token \ in JSON at position 0

Here is the only line in debug

[27-May-2016 10:54:49 UTC] Sorry, but recursing filters on "the_content" breaks NextGEN Gallery. Please see https://core.trac.wordpress.org/ticket/17817 and NGG_DISABLE_FILTER_THE_CONTENT

From: Iain Poulson <notifications@github.com>
Reply-To: deliciousbrains/wp-amazon-s3-and-cloudfront

[2016-05-27 11:57] noreabu commented on #311
Do you receive this error message in the logs or on screen?
I am probably experiencing the same problem with the builtin image editor, when the local image is removed (https://github.com/deliciousbrains/wp-amazon-s3-and-cloudfront/issues/317). Preview seems to work, but the edit view is missing the image. First it worked once, now not anymore...

[2016-05-27 14:27] frankscalzo commented on #322
Fixed the issue there was a / in my header.php before the main code breaking everything

From: Iain Poulson <notifications@github.com>
Reply-To: deliciousbrains/wp-amazon-s3-and-cloudfront <reply@reply.github.com>
Date: Friday, May 27, 2016 at 6:51 AM
To: deliciousbrains/wp-amazon-s3-and-cloudfront <wp-amazon-s3-and-cloudfront@noreply.github.com>
Cc: Frank Scalzo <FScalzo@avalere.com>, Mention <me

[2016-05-27 14:28] polevaultweb commented on #322
@frankscalzo great!

[2016-05-27 14:28] #322 closed

[2016-06-02 19:42] grappler opened #324 "v1.0.4 does not change the image URL to the CDN"
I just updated to WP Offload S3 Lite 1.0.4 and Amazon Web Services 0.3.6.

The media URL are pointing to the local files instead of the files on the CDN.

Also strangely the settings page has disappeared. The other two pages show up fine.

There was no issue with the previous version. It is specifically this update as I was able to fix it be reverting the update.

[code]

[2016-06-03 07:27] A5hleyRich commented on #324
Are there any errors when `WP_DEBUG_LOG` is enabled?

[2016-06-03 07:52] matschaffer commented on #324
I also experienced similar issues. My images weren't replaced with s3 URLs. The "settings" link was also missing from the plugin list. I have WP_DEBUG enabled but nothing that I could see in the error logs about the plugin. For now I pinned back to 1.0.3

[2016-06-03 10:36] A5hleyRich commented on #324
Do you have `curl_multi_exec` enabled?

[2016-06-03 11:52] grappler commented on #324
The function exists on my site. My host is Siteground. There were no error messages in the debug log.

[2016-06-03 12:42] A5hleyRich commented on #324
We're having a hard time replicating this. Do you a site where we could take a look?

[2016-06-03 13:14] matschaffer commented on #324
If you clone https://github.com/matschaffer/s3test and run `docker-compose up` (may need some env or hosts tweaking for directs etc) it should get replicate what I'm seeing as far as the settings link not being present. Will require some media to see that the media links aren't getting replaced.

<img width="1225" alt="screen shot 2016-06-03 at 10 11 58 pm" src="https://cloud.githubusercontent.com

[2016-06-03 13:18] grappler commented on #324
I think there may be an issue with wpackagist. I am using composer and it seems like it did not properly update amazon-web-services to version 0.3.6.

[2016-06-03 13:21] matschaffer commented on #324
Yeah, I just noticed that as well. Composer reports 0.3.6, but the `amazon-web-services.php` it downloads says 0.3.5.

[2016-06-03 13:23] A5hleyRich commented on #324
Awesome. Cheers for the heads up. Looking into it now.

[2016-06-03 13:24] grappler commented on #324
After `composer clean-cache` and deleting the plugins it seems to working fine. The reason I did not realize the issue was that I do not have any update notifications on my staging and live site.

Perhaps a notice of incompatible versions would be helpful but this issue has been fixed.

[2016-06-03 13:38] matschaffer commented on #324
clean-cache followed by removing the in-repo dir then re-running install seems to have gotten the right version for me as well. settings link is back too.

[2016-06-03 20:39] BrandonShutter commented on #324
This didn't work for me.  I still have old versions of the plugins installed.

[code]

Locally, version 1.6 is installed, remotely version 1.5.5 is installed.

[2016-06-03 20:55] BrandonShutter commented on #324
Downgrading to 1.0.3 brings back the setting menu.

[2016-06-03 21:02] grappler commented on #324
@BrandonShutter This is not the repo or issue or Migrate DB Pro but for WP Offload S3 Lite

[2016-06-03 21:05] BrandonShutter commented on #324
@grappler  Correct, and downgrading back a version of S3 Lite brings the settings back.  The newest version doesn't show it.

[2016-06-04 04:33] grappler commented on #324
@BrandonShutter You added a composer snippet from Migrate DB Pro above. :smile: Make sure that amazon-web-services and WP Offload S3 Lite are updated to the latest version and then it should work.

[2016-06-05 10:32] leoxavier commented on #320
Seems like we are having the same issue. We run a site with a large amount of photos uploaded, and users have been having issues cropping images (we have our own image crop add-on). But further investigation shows that WP also doesn't allow editing images in the media manager.

We logged a lot of these events and the patterns *seems* ti be: if images are sRGB, they can't be read. It might also be

[2016-06-06 18:31] mrbm commented on #320
@leoxavier

Try reviewing the discussion here: https://github.com/aws/aws-sdk-php/issues/587

That's where my conclusions were drawn from.

I believe it is important for this plugin to use the latest AWS PHP SDK as it is a major issue, and will continue to be. I realize that it requires a higher level of PHP and that by not using the latest SDK the plugin maintains a higher compatibility....but th

[2016-06-15 16:10] Samyoul commented on #316
If it helps, this thread gave me the hint to check that the keys I was using had access. They didn't have access, saved myself hours of head scratching. Thank you.

[2016-06-15 19:16] ianmjones commented on #316
Issue resolved by using correct access credentials for bucket, closing.

[2016-06-15 19:16] #316 closed

[2016-06-16 16:43] topdown opened #325 "Custom logo upload issue in customizer"
In WP 4.5 custom logo support was added to customizer
https://make.wordpress.org/core/2016/03/10/custom-logo/

While building my SaaS app which has this feature I found out that the logo uploader breaks when the image crop mechanism is used and Remove Files From Server set on.
It works fine if no cropping is needed or Remove Files From Server is set to off.

Setting up locally I found out that the

[2016-06-24 08:19] Vipulalw opened #326 "Some images are automatically deleting from s3 buckets"
Some images are automatically deleting from s3 buckets and if I browse Image URL it shows XML error. For resolving this I'll have to regenerate thumbnail then image creates again on s3 bucket.
![s3_image_not_found](https://cloud.githubusercontent.com/assets/19647451/16332210/76463656-3a12-11e6-9e1c-d1468cbece3d.png)

[2016-06-25 07:49] A5hleyRich commented on #326
This is the first report we've had of this, so it's more likely to be caused by a third party plugin. Please can you provide your diagnostic information from the support tab?

[2016-06-27 01:45] mike-healy opened #327 "AWS Bucket Access -- Restrict to path"
The plugin reports an error "Access denied to bucket" when the IAM user is set to have S3 permissions to only a specific path within the bucket.

I don't want WordPress to have write access to the entire bucket.

My IAM Policy (snippet):
[code]
The allowed path matches the path that the plugin is configured to write to.

Plugin: 1.0.4 / WordPress 4.5.3

[2016-06-28 10:44] A5hleyRich commented on #327
Can you confirm how you've configured your bucket path? WP Offload S3 should use the 'Path' option in the settings screen to test write permissions.

[2016-06-29 01:19] mike-healy commented on #327
My mistake -- I had an error in the S3 path I wanted to use.
Missed the obvious :)

[2016-06-29 01:19] #327 closed

[2016-06-29 01:25] bashquandry commented on #267
I've been getting this same error from above for the last few months on all the sites I use WP Offload. It's not my policy because I've followed the instructions to the letter and also just flat out set it to Admin Level and Full Access. I have yet to find a solution posted. The error is as follows:

Error creating bucket — Missing required client configuration options: region: (string) A "region"

[2016-06-30 08:27] scottybo opened #328 "Missing Expires Headers on Uploaded Images"
Hi Guys,

Great plugin, but one small problem: Expires Headers are not set on the images.

Running a Pingdom test on a website, I noted that all S3 images have a short freshness lifetime. For improved caching and speed, the cache time on images should be at least a week.

It would be brilliant if either of these options could be implemented:

1) This option was set as a default in the core code
2)